<!-- Facebook Open Graph -->
<meta content="{{ site.title }}" property="og:site_name">
<meta property="og:locale" content="en_US" />

{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% else %}
  <meta content="{{ site.title }}" property="og:title">
{% endif %}

{% if page.title %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}

{% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
{% else %}
  <meta content="{{ site.description }}" property="og:description">
{% endif %}

{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}

{% if page.post_image %}
  <meta content="{{ page.post_image }}" property="og:image">
{% else %}
  <meta content="{{ site.social_share_image }}" property="og:image">
{% endif %}

{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
{% endif %}
<!-- End Facebook Open Graph -->