# The node_modules directory, dot files (except .eslintrc.js), and dot folders are always ignored by default.

*.css
**/*.min.css
**/*.min.js
*.json
_site
_site/**
_config.yml
_layouts/default.html
babel.config.js