# Specific files and filetypes
*min.css
*min.js
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
_config.yml
_layouts/default.html

# Usual suspects
vendor
.DS_Store
.idea
/node_modules
yarn.lock
package-lock.json
Gemfile.lock
.ruby-version
CNAME
