<div class="clients-area pt-50 pb-50">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 text-center pb-40">
          <div class="title-header">
            <h2>Our Supporters</h2>
            <p>Take it from the companies below. These folks recognize the difference we're making <br>and are dedicated to helping us continue our mission. Are you?</p>
          </div>
        </div>
      </div>
        <div class="row">
            <div class="clients-active owl-carousel">
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/theme-stock/clients/client-1.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/theme-stock/clients/client-2.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/theme-stock/clients/client-3.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/theme-stock/clients/client-4.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/theme-stock/clients/client-5.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}/assets/img/theme-stock/clients/client-6.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>