<div class="counter-area pb-100 pt-100" data-overlay="7" style="background-image:url({{site.baseurl}}/assets/img/counterBg/bg1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-3 col-sm-6 z-index">
                <div class="single-counter text-center mb-30">
                    <span class="lnr lnr-users"></span>
                    <div class="counter">5780</div>
                    <p>happy customers</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-6 z-index">
                <div class="single-counter text-center mb-30">
                    <span class="lnr lnr-thumbs-up"></span>
                    <div class="counter">4920</div>
                    <p>Project complete</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-6 z-index">
                <div class="single-counter text-center mb-30">
                    <span class="lnr lnr-apartment"></span>
                    <div class="counter">1760</div>
                    <p>World Wide Branch</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-6 z-index">
                <div class="single-counter text-center mb-30">
                    <span class="lnr lnr-printer"></span>
                    <div class="counter">2738</div>
                    <p>Digital Instrument</p>
                </div>
            </div>
        </div>
    </div>
</div>