<section class="grey-bg pt-100 pb-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-10">Support Our Work</h2>
        </div>
      </div><!-- /col-xl-10 col-12 -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>We take great pride in ensuring that the technology solutions we build for nonprofits are always pro bono, which is why your support is critical. Your support and partnership would enable us to continue building innovative technology solutions, fostering learning for the nascent development community, and bringing together the tech community.
If you use GitHub, please consider a <a href="https://github.com/sponsors/rubyforgood" target="_blank">GitHub sponsorship</a> in support of our work!
</p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10"><span class="font-weight-bold">Your support is a gift.</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-1 mb-20">
      </div>
      <div class="col-5 mb-20 text-center donation-container">
        <h3 class="mb-10">Make A One Time Donation</h3>
        <button data-checkout-mode="payment" data-price-id="price_1HmXlHFzaTg9zGs0wzooecPg" class="btn btn-secondary">
          Donate $500.00 once
        </button>
        <button data-checkout-mode="payment" data-price-id="price_1HmXkoFzaTg9zGs0vl3ElV2h" class="btn btn-secondary">
          Donate $250.00 once
        </button>
        <button data-checkout-mode="payment" data-price-id="price_1HmQLTFzaTg9zGs0ihmA9j05" class="btn btn-secondary">
          Donate $100.00 once
        </button>
        <button data-checkout-mode="payment" data-price-id="price_1HmQLUFzaTg9zGs0Xemz8N6e" class="btn btn-secondary">
          Donate $50.00 once
        </button>
        <button data-checkout-mode="payment" data-price-id="price_1HmQLTFzaTg9zGs09pOTURBo" class="btn btn-secondary">
          Donate $25.00 once
        </button>
      </div>
      <div class="col-5 mb-20 text-center donation-container">
        <h3 class="mb-10">Make A Recurring Donation</h3>
        <button data-checkout-mode="subscription" data-price-id="price_1HmXlfFzaTg9zGs0zf1A0ZLM" class="btn btn-secondary">
          Donate $150.00 per month
        </button>
        <button data-checkout-mode="subscription" data-price-id="price_1HmXlUFzaTg9zGs011Yxh7X6" class="btn btn-secondary">
          Donate $100.00 per month
        </button>
        <button data-checkout-mode="subscription" data-price-id="price_1HmQLTFzaTg9zGs0IxKvPI51" class="btn btn-secondary">
          Donate $50.00 per month
        </button>
        <button data-checkout-mode="subscription" data-price-id="price_1HmQLUFzaTg9zGs0HMlCv1CZ" class="btn btn-secondary">
          Donate $25.00 per month
        </button>
        <button data-checkout-mode="subscription" data-price-id="price_1HmQLTFzaTg9zGs0ddYeVec2" class="btn btn-secondary">
          Donate $10.00 per month
        </button>
      </div>
      <div class="col-1 mb-20">
      </div>

    </div>
  </div>
</section>

<!--<section class="pt-70 grey-bg">-->
<!--  <div class="container">-->
<!--    <div class="row justify-content-center">-->
<!--      <div class="col-12 col-xl-9 text-center pb-30">-->
<!--        <div class="block-header">-->
<!--          <h2 class="mb-10">Make A Recurring Donation</h2>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--<section class="pb-70 grey-bg">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-12 mb-20">-->
<!--        <section class="container">-->
<!--          <button data-checkout-mode="subscription" data-price-id="price_1HmXlfFzaTg9zGs0zf1A0ZLM" class="btn btn-donate">-->
<!--            Donate $150.00 per month-->
<!--          </button>-->
<!--          <button data-checkout-mode="subscription" data-price-id="price_1HmXlUFzaTg9zGs011Yxh7X6" class="btn btn-donate">-->
<!--            Donate $100.00 per month-->
<!--          </button>-->
<!--          <button data-checkout-mode="subscription" data-price-id="price_1HmQLTFzaTg9zGs0IxKvPI51" class="btn btn-donate">-->
<!--            Donate $50.00 per month-->
<!--          </button>-->
<!--          <button data-checkout-mode="subscription" data-price-id="price_1HmQLUFzaTg9zGs0HMlCv1CZ" class="btn btn-donate">-->
<!--            Donate $25.00 per month-->
<!--          </button>-->
<!--          <button data-checkout-mode="subscription" data-price-id="price_1HmQLTFzaTg9zGs0ddYeVec2" class="btn btn-donate">-->
<!--            Donate $10.00 per month-->
<!--          </button>-->
<!--        </section>-->
<!--      </div>-->
<!--      <div id="error-message"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<script src="https://js.stripe.com/v3/"></script>
<script>
  // Replace with your own publishable key: https://dashboard.stripe.com/test/apikeys
  var PUBLISHABLE_KEY = 'pk_live_8GGxzNf3baRkezsBLlQwCYwY';
  // Replace with the domain you want your users to be redirected back to after payment
  var DOMAIN = 'https://designbygia.github.io';

  var stripe = Stripe(PUBLISHABLE_KEY);

  // Handle any errors from Checkout
  var handleResult = function (result) {
    if (result.error) {
      var displayError = document.getElementById('error-message');
      displayError.textContent = result.error.message;
    }
  };

  document.querySelectorAll('button').forEach(function (button) {
    button.addEventListener('click', function (e) {
      var mode = e.target.dataset.checkoutMode;
      var priceId = e.target.dataset.priceId;
      var items = [{
        price: priceId,
        quantity: 1
      }];

      // Make the call to Stripe.js to redirect to the checkout page
      // with the sku or plan ID.
      stripe
        .redirectToCheckout({
          mode: mode,
          lineItems: items,
          successUrl: DOMAIN + '?session_id={CHECKOUT_SESSION_ID}',
          cancelUrl: DOMAIN + '?session_id={CHECKOUT_SESSION_ID}',
        })
        .then(handleResult);
    });
  });
</script>
