<html lang="en">

<head>
  <meta charset="utf-8"/>
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="css/normalize.css"/>
  <link rel="stylesheet" href="css/global.css"/>
  <!-- Load Stripe.js on your website. -->
  <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
<div class="sr-root">
  <div class="sr-main" style="display: flex;">
    <header class="sr-header">
      <div class="sr-header__logo"></div>
    </header>
    <div class="sr-container">
      <section class="container">
        <h1>One-time Donation</h1>
        <button data-checkout-mode="payment" data-price-id="price_1HmQLTFzaTg9zGs09pOTURBo">
          Donate $25.00 once
        </button>
        <button data-checkout-mode="payment" data-price-id="price_1HmQLUFzaTg9zGs0Xemz8N6e">
          Donate $50.00 once
        </button>
        <button data-checkout-mode="payment" data-price-id="price_1HmQLTFzaTg9zGs0ihmA9j05">
          Donate $100.00 once
        </button>
      </section>
      <section class="container">
        <h1>Recurring Donation</h1>
        <button data-checkout-mode="subscription" data-price-id="price_1HmQLTFzaTg9zGs0IxKvPI51">
          Donate $50.00 per month
        </button>
        <button data-checkout-mode="subscription" data-price-id="price_1HmQLUFzaTg9zGs0HMlCv1CZ">
          Donate $25.00 per month
        </button>
        <button data-checkout-mode="subscription" data-price-id="price_1HmQLTFzaTg9zGs0ddYeVec2">
          Donate $10.00 per month
        </button>
      </section>
    </div>
    <div id="error-message"></div>
  </div>
</div>

<script>
  // Replace with your own publishable key: https://dashboard.stripe.com/test/apikeys
  var PUBLISHABLE_KEY = 'pk_live_8GGxzNf3baRkezsBLlQwCYwY';
  // Replace with the domain you want your users to be redirected back to after payment
  var DOMAIN = location.href.replace(/[^/]*$/, '');

  var stripe = Stripe(PUBLISHABLE_KEY);

  // Handle any errors from Checkout
  var handleResult = function (result) {
    if (result.error) {
      var displayError = document.getElementById('error-message');
      displayError.textContent = result.error.message;
    }
  };

  document.querySelectorAll('button').forEach(function (button) {
    button.addEventListener('click', function (e) {
      var mode = e.target.dataset.checkoutMode;
      var priceId = e.target.dataset.priceId;
      var items = [{
        price: priceId,
        quantity: 1
      }];

      // Make the call to Stripe.js to redirect to the checkout page
      // with the sku or plan ID.
      stripe
        .redirectToCheckout({
          mode: mode,
          lineItems: items,
          successUrl: DOMAIN + 'success.html?session_id={CHECKOUT_SESSION_ID}',
          cancelUrl: DOMAIN + 'canceled.html?session_id={CHECKOUT_SESSION_ID}',
        })
        .then(handleResult);
    });
  });
</script>
</body>