<header>
   {% include header_top.html %}
    <div id="sticky-header" class="menu-area">
        <div class="container">
            <div class="white-bg logo-area">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-3 col-sm-5">
                        <div class="logo">
                            <a href="{{site.url}}"><img src="{{site.logo}}" class="img-fluid" alt="{{site.title}}"></a>
                        </div>
                    </div>
                    <div class="col-lg-10 d-none d-lg-block">
                        <div class="header-cta pt-15 pb-15">
                            <div class="header-single-cta">
                                <h3><i class="far fa-clock"></i> Meet Hour</h3>
                                <span>10:00 am - 08:00 pm</span>
                            </div>
                            <div class="header-single-cta">
                                <h3><i class="fas fa-phone"></i> Call Us</h3>
                                <span>+000 (123) 4567</span>
                            </div>
                            <div class="header-single-cta">
                                <h3><i class="far fa-envelope"></i> Email Us</h3>
                                <span>support@gmail.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
            <div class="theme-bg menu-margin-bottom d-none d-lg-block pr-45 pl-15">
                <div class="row align-items-center">
                    <div class="col-xl-11 col-lg-11 text-left">
                        <div class="main-menu second-menu">
                          {% include navigation.html %}
                        </div>
                    </div>
                    <div class="col-xl-1 col-lg-1 d-none d-lg-block">
                        <div class="menu-icon second-menu-icon">
                            <i class="icofont-search-1" data-toggle="modal" data-target="#search-modal"></i>
                            <a href="#" class="menu-tigger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offcanvas-menu">
             {% include offcanvas_menu.html %}
            </div>
            <div class="offcanvas-overly"></div>
        </div>
    </div>
</header>
<!-- Modal Search -->
<div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form>
                <input type="text" id="search-input" placeholder="Search blog posts..">
                <button><i class="fa fa-search"></i></button>
            </form>
            <ul id="results-container"></ul>
        </div>
    </div>
</div>