<style>
  p {
      color: #333333;
  }
  .railsconf {
      border-radius: 4px;
  }
</style>
<section class="grey-bg pt-100 pb-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-10">Railsconf 2022</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>
          Tech conferences are fun! We feel that they are even more fun when you have a lot of friends attending the
          conference with you -- especially if those friends are great people! We might be biased (okay, we're totally
          biased) but we think that Gooders (that's what Ruby for Good folks call ourselves) are the absolutely best
          people around. We want to invite everyone to join us the day before Railsconf to do some good together and
          then for some socializing! This way you'll have a great network for friends to talk about which sessions to
          attend, discover the best nearby coffee shops; this is an important one since Portland has a lot of amazing
          coffee shops, and you'll have the best people to eat lunch with.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">
            <span class="font-weight-bold">What will we be doing?</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-1 mb-30">
      </div>
      <div class="col-4 mb-30">
        <img src="/assets/img/railsconf/diapers4.jpeg" alt="Diaper Volunteering" class="img-fluid mx-auto d-block railsconf"/>
      </div>
      <div class="col-6 mb-20">
        <h4>How The Volunteering Will Work</h4>
        <p>
          We're going to head to the Portland Diaper Bank and provide them with some much needed assistance helping them assemble some diapers and period supplies in to bundles that are easy to distribute. It is a lot of fun and in addition to doing good we'll be doing some great socializing.
        </p>
      </div>
      <div class="col-1 mb-30">
      </div>
    </div>
    <div class="row">
      <div class="col-1 mb-30">
      </div>
      <div class="col-6 mb-20">
        <h4>How Will We Get There</h4>
        <p>
          We will meet up at the conference hotel, the <a href="https://www.hilton.com/en/attend-my-event/rllc-dt-rbc-3d1f0384-4813-4829-9bf2-8788008ece79/">Double Tree Portland</a>, at a time TBD. We currently don't have the exact time and we'll update this as soon as we know but it is looking like it will be leaving from the hotel at noon. We will coordinate rideshares and head to the volunteering venue.
        </p>
      </div>
      <div class="col-4 mb-30">
        <img src="/assets/img/railsconf/diapers.jpeg" alt="Diaper Volunteering 1" class="img-fluid mx-auto d-block railsconf"/>
      </div>
      <div class="col-1 mb-30">
      </div>
    </div>
    <div class="row">
      <div class="col-1 mb-30">
      </div>
      <div class="col-4 mb-30">
        <img src="/assets/img/railsconf/diapers2.jpeg" alt="Diaper Volunteering 2" class="img-fluid mx-auto d-block railsconf"/>
      </div>
      <div class="col-6 mb-20">
        <h4>How Long Will It Last</h4>
        <p>
          We will spend approximately one to two hours volunteering at the Portland Diaper Bank after which we will head to a local restaurant/brewery for lunch and socializing. We have some super fun ice breaker conversation topics lined up and we're really excited for everyone to make their new #rubyfriends.
        </p>
      </div>
      <div class="col-1 mb-30">
      </div>
    </div>
    <div class="row">
      <div class="col-1 mb-30">
      </div>
      <div class="col-6 mb-20">
        <h4>Let Us Know You Are Coming</h4>
        <p>
          We would love to get an accurate headcount to let the Diaper Bank knows how many folks to expect so <a href="https://rubyforgood.herokuapp.com" target="_blank">
          join us in our slack
        </a> and say hello in the #railsconf channel and let us know you are coming. If you are unable to join us in slack send us an email to <a href="mailto:info@rubyforgood.org">info@rubyforgood.org.</a>
        </p>
      </div>
      <div class="col-4 mb-30">
        <img src="/assets/img/railsconf/diapers3.jpeg" alt="Diaper Volunteering 2" class="img-fluid mx-auto d-block railsconf"/>
      </div>
      <div class="col-1 mb-30">
      </div>
    </div>
  </div>
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">
            <span class="font-weight-bold">Want to support us?</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>
          If helping a group of rubyists doing some good is something your company would be interested in supporting get in touch with us at <a href="mailto:info@rubyforgood.org">info@rubyforgood.org</a>. We'd love a sponsor for transportation and lunch for the volunteers after.
        </p>
      </div>
    </div>
  </div>
</section>