<style>
  p {
    color: #333333;
  }

  .railsconf {
    border-radius: 4px;
  }
</style>
<section class="grey-bg pt-100 pb-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-10">Railsconf 2022</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>
          Tech conferences are fun! Especially when you have friends attending
          the conference with you, and even more so, when you can make new
          friends. We might be biased (okay, we're totally biased) but we think
          that
          <em>gooders</em> (individuals and organizations that give their time
          and talent in service of their communities, to make the world gooder),
          are by far some of the best people around.
        </p>
        <p>
          Join a group of gooders, on May 16, 2022, the day before RailsConf
          begins, to make an impact in the Portland community. Build your
          network, make friends, and socialize, while learning about interesting
          conference sessions to attend, discovering the best local coffee
          shops, and enjoying lunch with an amazing group of people.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">
            <span class="font-weight-bold">MAKING AN IMPACT!</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-1 mb-30"></div>
      <div class="col-4 mb-30">
        <img
          src="/assets/img/railsconf/diapers4.jpeg"
          alt="Diaper Volunteering"
          class="img-fluid mx-auto d-block railsconf"
        />
      </div>
      <div class="col-6 mb-20">
        <h4>Volunteering</h4>
        <br />
        <p>
          No family should have to choose between purchasing food or diapers for
          their children.
          <a href="https://www.pdxdiaperbank.org">The Portland Diaper Bank's</a>
          mission is to provide no cost diapering supplies to low-income and
          houseless families. We will be partnering with Portland Diaper Bank to
          help assemble and package diapers and period supplies into bundles
          that are easy to distribute to partner agencies and through them, to
          the community. This meaningful work is done for the most part by
          volunteers, like us, and enables the Portland Diaper Bank to continue
          its critical work in the community.
        </p>
      </div>
      <div class="col-1 mb-30"></div>
    </div>

    <div class="row">
      <div class="col-1 mb-30"></div>
      <div class="col-10 mb-30">
        <p>
          In addition to being important work, it is also a lot of fun, and a
          lovely time to connect with like-minded gooders. We've seen
          volunteering sessions like this one, lead to long-term friendships and
          professional opportunities.
        </p>
      </div>
      <div class="col-1 mb-30"></div>
    </div>

    <div class="row">
      <div class="col-1 mb-30"></div>
      <div class="col-6 mb-20">
        <h4>Getting There</h4>
        <br />
        <p>
          We will meet in the lobby of the conference hotel, the
          <a
            href="https://www.hilton.com/en/attend-my-event/rllc-dt-rbc-3d1f0384-4813-4829-9bf2-8788008ece79/"
            >Double Tree Portland</a
          >, and will announce a time closer to the date. While we don't have
          the exact time yet, we will likely be leaving from the hotel around
          noon. We will coordinate rideshares and head to the volunteering venue
          together. Although, you are welcome to meet us there if it is more
          convenient for you.
        </p>
      </div>
      <div class="col-4 mb-30">
        <img
          src="/assets/img/railsconf/diapers.jpeg"
          alt="Diaper Volunteering 1"
          class="img-fluid mx-auto d-block railsconf"
        />
      </div>
      <div class="col-1 mb-30"></div>
    </div>
    <div class="row">
      <div class="col-1 mb-30"></div>
      <div class="col-4 mb-30">
        <img
          src="/assets/img/railsconf/diapers2.jpeg"
          alt="Diaper Volunteering 2"
          class="img-fluid mx-auto d-block railsconf"
        />
      </div>
      <div class="col-6 mb-20">
        <h4>Duration</h4>
        <br />
        <p>
          We will spend approximately 1-2 hours volunteering at the Portland
          Diaper Bank, after which we will head to a local restaurant/brewery
          for lunch and socializing. As with all Ruby for Good events, we have
          some super fun ice-breaker conversation topics lined up, and we're
          really excited to make new ruby friends!
        </p>
      </div>
      <div class="col-1 mb-30"></div>
    </div>
    <div class="row">
      <div class="col-1 mb-30"></div>
      <div class="col-6 mb-20">
        <h4>RSVP</h4>
        <br />
        <p>
          We need an accurate headcount to ensure that the Portland Diaper Bank
          can accommodate us all.
          <a href="https://rubyforgood.herokuapp.com" target="_blank">
            Join us in our slack </a
          >, say hello and request an invite to the private #railsconf channel,
          and let us know that you will be joining us. If you are unable to join
          us in slack, send an RSVP email to
          <a href="mailto:info@rubyforgood.org">info@rubyforgood.org</a>.
        </p>
      </div>
      <div class="col-4 mb-30">
        <img
          src="/assets/img/railsconf/diapers3.jpeg"
          alt="Diaper Volunteering 2"
          class="img-fluid mx-auto d-block railsconf"
        />
      </div>
      <div class="col-1 mb-30"></div>
    </div>
  </div>
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">
            <span class="font-weight-bold">Support Us!</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>
          If supporting a group of rubyists making an impact is something your
          company would be interested in supporting, get in touch with us at
          <a href="mailto:info@rubyforgood.org">info@rubyforgood.org</a>. We
          would be deeply grateful for sponsors for transportation and a meal
          for volunteers.
        </p>
      </div>
    </div>
  </div>
</section>
