<section class="related-project  pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-two">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/3.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">Finance Consultancy</a></h5>
                        <span>supporting text</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 d-lg-none d-md-block display-none">
                <div class="project-status">
                    <div class="project-details-title">
                        <h3>Project Details</h3>
                        <ul>
                            <li><b>Date</b><span>09 Oct 2018</span></li>
                            <li><b>Location</b><span>New York, W2 3XE</span></li>
                            <li><b>Category</b><span>Business</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-two">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/6.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">Finance Consultancy</a></h5>
                        <span>supporting text</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-two">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/4.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">Finance Consultancy</a></h5>
                        <span>supporting text</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>