<section class="service-area grey-bg pb-70 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-40">
                <div class="section-title service-title">
                    <h2>Our Services</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,words which don't look even slightly believable.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for service in site.services %}
            <div class="col-lg-4 col-md-6 text-center mb-30">
                <div class="features-wrap">
                    {% if service.icon %}
                    <div class="features-icon">
                        <img src="{{service.icon}}" alt="{{service.title}}">
                    </div>
                    {% endif %}
                    <h4>{{service.title}}</h4>
                    <p>{{service.description}}</p>
                    <a href="{{service.url}}">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>