<section class="team-area grey-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40">
                <div class="section-title service-title">
                    <h2>Our Team</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,words which don't look even slightly believable.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/01.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Tanvir Raihan</h3>
                        <span>Web Designer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/02.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Jackson Nash</h3>
                        <span>Massagist</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/03.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Jon Doe</h3>
                        <span>Web Develpoer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/04.jpg" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Jackson Nash</h3>
                        <span>Massagist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>