<section>
  <div class="container">

    <div class="row pt-80 centered">
      <div class="col-lg-6 col-lg-offset-3 mx-auto footer-cta pb-20">
        <h1 class="text-center"><i class="fa fa-heart"></i></h1>
        <h3 class="text-center">{{ page.quote }}</h3>
      </div><!-- /col-lg-6 col-lg-offset-3 -->
    </div><!-- /row -->
    

    <div class="row pt-50">
      <div class="col-lg-4">
        <h4>More about {{ page.name }}.</h4>
        <p>{{ page.description }}</p>
        <h5><i class="fa fa-twitter"></i> {{ page.socials.twitter }} | <i class="fa fa-envelope"></i> {{ page.email }}</h5>
      </div>

      <div class="col-lg-4 centered">
        <img src="{{ page.photo }}" alt="{{ page.name }}">
      </div>

      <div class="col-lg-4 team-stat centered">
        <h4 class="goleft">Know a little more.</h4>
        <p><i class="fa fa-apple"></i><br/>Uses: MacBook Pro Retina 13'</p>
        <p><i class="fa fa-coffee"></i><br/>Drinks: Black Coffee</p>
        <p><i class="fa fa-book"></i><br/>Reading: Inferno</p>
        <p><i class="fa fa-film"></i><br/>Favorite Movie: Forrest Gump</p>
        <p><i class="fa fa-globe"></i><br/>A Place in the World: London</p>
      </div>

    </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /section -->