<section class="pt-100 pb-20 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-20">Event FAQ</h2>
        </div>
      </div>
      <!-- /col-xl-10 col-12 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>











<section class="dark navigation-spacing">
  <div class="container">
    <article class="article-big page">
      <h3 id="attending-ruby-by-the-bay">Attending Ruby by the Bay</h3>

      <p>Ruby by the Bay is an annual event based out of the SF bay area where Ruby programmers from all over the globe get together for a long weekend to build projects that help our communities. In 2020 the event will take place at virtual in the internet, California. Participants will stay in on-site housing with coding and socializing taking place in communal areas. Join us April 3rd - April 5th for the fun of giving back!</p>

      <h6 id="how-does-ruby-by-the-bay-work">How Does Ruby by the Bay Work?</h6>

      <p>If you’ve attended <a href="https://rubyforgood.org">Ruby for Good</a>, Ruby by the Bay is the west coast edition of the event.  The organizers of Ruby by the Bay work year round contacting and working with non-profits to find projects that are both within the scope of Ruby by the Bay and helpful to non-profit organizations and individuals.
        <!-- In 2020 projects are focused around issues affecting our communities. --></p>

      <p>This is an event for people of <em>all</em> skill levels so even if you are new, don’t let that prevent you from contributing! Attendees self-select into projects that are meaningful to them and the fun begins! Most projects have a need for a variety of skills including both developers and designers. While most of our attendees use Ruby, we welcome programmers of other languages, especially if you’re interested in learning some Ruby :) Past years have benefitted from attendees with JavaScript, architecture, or design skills as well.</p>

      <h6 id="that-sounds-awesome-tell-me-more">That Sounds Awesome, Tell Me More!</h6>

      <p><a href="/2020">Here is the tentative schedule for 2020.</a></p>

      <p>Here is what actual attendees have written about Ruby for Good and Ruby by the Bay events:</p>

      <ul>
        <li><a href="https://chelseatroy.com/2019/04/02/behind-the-scenes-ruby-by-the-bay-civic-hack/">https://chelseatroy.com/2019/04/02/behind-the-scenes-ruby-by-the-bay-civic-hack/</a></li>
        <li><a href="http://technology.customink.com/blog/2016/06/23/ruby-for-good-2016/">http://technology.customink.com/blog/2016/06/23/ruby-for-good-2016/</a></li>
        <li><a href="https://blog.codeship.com/how-to-inspire-community-in-programming/">https://blog.codeship.com/how-to-inspire-community-in-programming/</a></li>
        <li><a href="https://acuriousloop.wordpress.com/2016/06/21/ruby-for-good/">https://acuriousloop.wordpress.com/2016/06/21/ruby-for-good/</a></li>
        <li><a href="http://metalpolyglot.com/dev/ruby/ruby-for-good-retrospective/">http://metalpolyglot.com/dev/ruby/ruby-for-good-retrospective/</a></li>
        <li><a href="http://slides.com/jasonwieringa/rubyforgood#/">http://slides.com/jasonwieringa/rubyforgood#/</a></li>
        <li><a href="http://rolentle.com/ruby-for-good/">http://rolentle.com/ruby-for-good/</a></li>
        <li><a href="http://www.blrice.net/blog/2015/08/10/leading-a-team-at-ruby-for-good/">http://www.blrice.net/blog/2015/08/10/leading-a-team-at-ruby-for-good/</a></li>
        <li><a href="http://technology.customink.com/blog/2015/08/05/ruby-for-good/">http://technology.customink.com/blog/2015/08/05/ruby-for-good/</a></li>
        <li><a href="http://alwaysbelearning.co/2014/08/05/ruby-for-good/">http://alwaysbelearning.co/2014/08/05/ruby-for-good/</a></li>
        <li><a href="http://www.blrice.net/blog/2014/08/09/lessons-learned-at-ruby-for-good/">http://www.blrice.net/blog/2014/08/09/lessons-learned-at-ruby-for-good/</a></li>
      </ul>

      <h6 id="interested-in-leading-a-team">Interested in Leading a Team?</h6>

      <p>During registration we’ll ask if you’d like to lead a team - say yes! We’ll be in touch in January with potential projects. We’ll brief you on expectations and put you in touch with your non-profit so you can work with them in advance of the event to set up project requirements, milestones and initial set up so you can hit the ground running with your team at Ruby by the Bay. Setup includes creating a github repo under the Ruby for Good Github, filing issues to work off of during the event, and making some technology suggestions. If you want to know what it will be like to lead a team this year, <a href="/team-leads.html">read our team lead guide</a>. For an in-depth look at what it’s like to lead a team, check out Brandon Rice’s <a href="http://www.blrice.net/blog/2015/08/10/leading-a-team-at-ruby-for-good/">blog</a>. If you’re not sure and want to talk about it with an organizer? Drop us a <a href="mailto:info@rubybythebay.org">note</a>.</p>

      <p>Also — if you have a project in mind that you’d like to lead, <a href="https://airtable.com/shrC6VjWgka26a6eh">suggest a project</a> to work on!</p>

      <h6 id="registering">Registering</h6>

      <p><a href="https://ti.to/codeforgood/rubybythebay">Tickets are on sale now!</a>
        Please consider also <a href="https://ti.to/codeforgood/rubybythebay">contributing to our scholarship fund now</a>.  It costs about $350 per scholarship recipient, and we rely on your help to make this event accessible to everyone.</p>

      <!-- Tickets are not yet available, though you can [contribute to our scholarship fund now](https://ti.to/codeforgood/rubybythebay).  It costs about a few hundred dollars per scholarship recipient, and we rely on your help to make this event accessible to everyone. -->

      <p>We are particularly interested in creating a diverse and inclusive space, and especially encourage those underrepresented in tech to join the event. Want to help make the event more inclusive? invite others who will make the space welcoming, and <a href="https://ti.to/codeforgood/rubybythebay">sponsor a scholarship recipient waitlisted for lack of funds</a> &lt;3</p>

      <p>Please read our <a href="/coc.html">Code of Conduct</a> prior to attending.</p>

    </article>
  </div>
</section>



<section class="dark navigation-spacing">
  <div class="container">
    <article class="article-big page">
      <h3 id="faq">FAQ:</h3>

      <h5 id="what-is-ruby-by-the-bay">What is Ruby by the Bay?</h5>

      <p>Ruby by the Bay is the west coast edition of Ruby for Good.</p>

      <h5 id="what-is-ruby-for-good">What is Ruby for Good?</h5>

      <p>Ruby for Good is an annual event based out of the DC-metro area where Ruby programmers from all over the globe get together over a long weekend to build projects that help our communities. Think hanging out in communal space for a weekend with a bunch of developers and designers to build something useful. Participants stay in on-site dorms; hacking and socializing takes place in communal areas. Join us just for the fun of giving back! Questions? Check out the FAQ below or drop us a <a href="mailto:info@rubybythebay.org">note</a>.</p>

      <h5 id="why-was-ruby-for-good-started">Why was Ruby for Good started?</h5>

      <p>Lots of organizations need the sort of technical help we can provide but are unable to afford it. We want to be the do-gooders that volunteer to solve non-profit business/technical problems. Very little effort on our part can make a huge difference to a non-profit. We want to help!</p>

      <h5 id="why-ruby-by-the-bay">Why Ruby by the Bay?</h5>

      <p>Several of our projects could benefit from a weekend worth of gooding more than once a year and we’d like to bring the Ruby for Good experience to more people more places.</p>

      <h5 id="what-skill-level-do-i-need-to-be-to-attend">What skill level do I need to be to attend?</h5>

      <p>All experience levels are definitely welcome! We have a wide variety of skill levels – some people have next to no experience in programming, some people have decades. But the same applies to other areas too! We have a wide variety of skill levels in pair programming, teaching, or product building – and these don’t necessarily correlate with years of programming experience. The event is as much about learning as it is about building great things. Groups are very collaborative and you’ll definitely have the opportunity to work closely with others and push a lot of code. :)</p>

      <h5 id="do-i-need-to-be-a-programmer">Do I need to be a programmer?</h5>

      <p>We need both developers and designers at Ruby by the Bay.</p>

      <h5 id="do-i-need-to-be-a-ruby-programmer">Do I need to be a Ruby programmer?</h5>

      <p>We’re more than happy to welcome programmers of other languages, especially if you’re interested in learning some Ruby. :)  And we are always happy to have more frontend experts join us (looking at you, JavaScript and CSS fans!).</p>

      <h5 id="how-do-you-choose-projects">How do you choose projects?</h5>

      <p>A lot of cold-calling/emailing individuals and organizations, soliciting suggestions from people we know, and from YOU in the community. We go through a process of vetting possible projects and select based on viability of completion, need, open-source status, and general impact on business functions.</p>

      <h5 id="whats-an-appropriate-project">What’s an appropriate project?</h5>

      <p>Good projects can be completed in about a weekend, help improve the efficiency of a non-profit, and are open-source so we can help give back to the community. Have the beginnings of an idea? <a href="https://airtable.com/shrC6VjWgka26a6eh"><i class="fa fa-heart-o fa-1x"></i>Suggest a project!</a></p>

      <h5 id="how-do-i-suggest-a-project">How do I suggest a project?</h5>

      <p>Have a project you’re jonesing to work on? <a href="https://airtable.com/shrC6VjWgka26a6eh"><i class="fa fa-heart-o fa-1x"></i>Suggest a project!</a></p>

      <h5 id="what-are-the-projects-this-year">What ARE the projects this year?</h5>

      <!-- This year projects are focused around issues facing our local communities and we have some great organizations lined up!  -->
      <p>We’ll announce project details, including available teams to join, the first night of the event.</p>

      <h5 id="i-want-to-lead-a-team-what-do-i-do">I want to lead a team. What do I do?</h5>

      <p>During registration we’ll ask if you’d like to lead a team - say yes! We’ll match you with a project about 6-8 weeks before the event. We’ll brief you on expectations and put you in touch with representatives from your project’s organization so you can work with them in advance of the event to set up project requirements, milestones and initial set up so you can hit the ground running with your team at Ruby by the Bay. Setup includes creating a github repo under the Ruby for Good github, filing issues and making some technology suggestions. <a href="/team-leads">You can read about the team lead process here</a>.</p>

      <h5 id="i-dont-know-if-i-want-to-lead-a-team-what-do-i-do">I don’t know if I want to lead a team. What do I do?</h5>

      <p>In general, leading a team entails connecting with stakeholders, initial architecting, planning out project milestones, and keeping your team moving forward. Here’s more <a href="http://www.blrice.net/blog/2014/08/09/lessons-learned-at-ruby-for-good/">information</a> about leading a team from Brandon Rice, a team lead in 2015 (who was SUPER awesome. Just sayin’.). Still not sure and want to talk about it with an organizer? Drop us a <a href="mailto:info@rubybythebay.org">note</a>.</p>

      <h5 id="how-can-i-help">How can I help?!</h5>

      <ul>
        <li>Suggest a project - We always need worthy projects! We’ve compiled a google doc to help you figure out a project. <a href="https://airtable.com/shrC6VjWgka26a6eh"><i class="fa fa-heart-o fa-1x"></i>Suggest a project!</a></li>
        <li>Lead a team - a great way to up your skills, especially if you’ve been programming for a while and are eager for the experience of leading a team.</li>
        <li>Ask your employer for sponsorship - we need lots of help with fundraising. The long weekend experience is expensive and we’d like to offer tickets to the wonderful folks who volunteer for as little as possible. This is only possible with donations and sponsors! Please reach out to your employer to see if they would be willing to help us give back to our community, or talk with us about how to do this.</li>
        <li>Donate - would you be willing to chip in to help bring more scholarship recipients to the event?  <a href="https://ti.to/codeforgood/rubybythebay">We need your help.</a></li>
        <li>Spread the word - this event happens because of you, and we need both developer and designer expertise!  Please tell everyone about Ruby by the Bay.</li>
      </ul>

      <h5 id="is-this-a-hackathon">Is this a hackathon?</h5>

      <p>No. This is definitely not a hackathon. Sean cringes everytime someone mentions ‘hackathon’ and ‘Ruby for Good’ in the same sentence. (Try it.)</p>

      <h5 id="when-do-i-need-to-purchase-my-tickets">When do I need to purchase my tickets?</h5>

      <p>By March 25 or when we sell out, whichever comes first! We can’t wait to see you.</p>

      <h5 id="oops-i-bought-my-ticket-and-now-i-cant-go-will-you-please-refundtransfer">Oops, I bought my ticket and now I can’t go. Will you please refund/transfer?</h5>

      <p>After January 1 we will be unable to offer refunds but we will happily help coordinate exchanges until March 15. Drop us a <a href="mailto:info@rubybythebay.org">note</a>.</p>

      <h5 id="when-do-tickets-go-on-sale">When do tickets go on sale?</h5>

      <!-- Very soon. We can't wait either! Let a friend know so you both can buy a ticket before we sell out. -->
      <p><a href="https://ti.to/codeforgood/rubybythebay">Tickets are on sale now! buy yours today</a> Last year was so fun. Tell all your #rubyfriends!</p>

      <h5 id="do-i-really-have-to-be-there-by-5pm-on-friday-for-kickoff">Do I really HAVE to be there by 5pm on Friday for kickoff?</h5>

      <p>Yeah, you really do. Teams will be chosen right around that time and you’ll spend remainder of the time meeting with your team, chatting about your projects, and getting your environments aligned. We’ve found the event is most successful, with the most buy-in, when teams are a cohesive bunch from the beginning.</p>

      <h5 id="how-early-can-i-arrive-on-friday">How early can I arrive on Friday?</h5>

      <p>Most of the organizing team is planning on arriving at 2pm but feel free to beat us there. There’s some amazing hiking (of different levels of ease or difficulty) just a few minutes from the venue.</p>

      <h5 id="how-does-food-work">How does food work?</h5>

      <p>We’ll provide the supplies, and everyone will pitch in to cook and clean up.  Each team will be responsible for a different meal.  We’ll also provide snacks in the evenings when we’re all socializing/playing games/werewolf!</p>

      <h5 id="im-a-vegetariandairy-freevegangluten-freepaleoallergic-to-will-you-feed-me">I’m a vegetarian/dairy-free/vegan/gluten-free/paleo/allergic to… will you feed me?</h5>

      <p>Absolutely. Let us know ahead of time so we can prepare for that!</p>

      <h5 id="whats-it-really-like-at-ruby-by-the-bay">What’s it REALLY like at Ruby by the Bay?</h5>

      <p>So glad you asked! For expert insight, here are a couple of blog posts written up by past Ruby for Good and Ruby by the Bay attendees:</p>

      <ul>
        <li>https://chelseatroy.com/2019/04/02/behind-the-scenes-ruby-by-the-bay-civic-hack/</li>
        <li>http://alwaysbelearning.co/2014/08/05/ruby-for-good/</li>
        <li>http://www.blrice.net/blog/2014/08/09/lessons-learned-at-ruby-for-good/</li>
        <li>http://rolentle.com/ruby-for-good/</li>
        <li>https://blog.homesnap.com/homesnap-terrastories-ruby-hack-thon</li>
        <li>https://blog.mapbox.com/ruby-for-good-2018-61dd45a7fdb7</li>
        <li>https://www.amazonteam.org/act-partakes-in-ruby-for-good-2018-to-develop-offline-geostorytelling-app-terrastories-for-remote-communities/</li>
      </ul>

      <h5 id="do-you-have-a-code-of-conduct">Do you have a code of conduct?</h5>

      <p>We are proud to have a <a href="/coc">code of conduct</a>.</p>
