<section class="pt-100 pb-20 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-20">Event FAQ</h2>
        </div>
      </div>
      <!-- /col-xl-10 col-12 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>

<section class="pt-35 pb-35 grey-bg">
  <div class="container">
    <div class="row faq">
      <div class="col-12 col-lg-4">
        <ul class="bulleted indented">
          <li class="bulleted indented">
            <a href="#attending">Attending Ruby for Good</a>
          </li>
          <li class="bulleted indented">
            <a href="#how-does-it-work">How Ruby for Good Works</a>
          </li>
          <li class="bulleted indented">
            <a href="#schedule">Tentative Schedule</a>
          </li>
          <li class="bulleted indented">
            <a href="#team-lead-interest">Team Lead Interest</a>
          </li>
          <li class="bulleted indented">
            <a href="#registering">Registration</a>
          </li>
          <li class="bulleted indented">
            <a href="#why-attend">Why Attend?</a>
          </li>
          <li class="bulleted indented">
            <a href="#skill-level-requirement">Expected Skill Level</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-4">
        <ul class="bulleted indented">
          <li class="bulleted indented">
            <a href="#programming-requirement">Non-programmers</a>
          </li>
          <li class="bulleted indented">
            <a href="#suggest-a-project">Suggest A Project</a>
          </li>
          <li class="bulleted indented">
            <a href="#which-projects">Nonprofits We'll Work With</a>
          </li>
          <li class="bulleted indented">
            <a href="how-to-help">How Can I Help?</a>
          </li>
          <li class="bulleted indented">
            <a href="#hackathon">Is This A Hackathon?</a>
          </li>
          <li class="bulleted indented">
            <a href="#ticket-sales">Ticket Sales</a>
          </li>
          <li class="bulleted indented">
            <a href="#ticket-purchases">Registration Deadline</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-4">
        <ul class="bulleted indented">
          <li class="bulleted indented">
            <a href="#refunds-and-transfers">Refunds and Transfers</a>
          </li>
          <li class="bulleted indented">
            <a href="#kickoff-attendance">Thursday's Kickoff Meeting</a>
          </li>
          <li class="bulleted indented">
            <a href="#early-arrival">Early Arrival</a>
          </li>
          <li class="bulleted indented">
            <a href="#transportation">Flights and Carpooling</a>
          </li>
          <li class="bulleted indented">
            <a href="#food-info">Meals and Snacks</a>
          </li>
          <li class="bulleted indented">
            <a href="#food-restrictions">Dietary Restrictions</a>
          </li>
          <li class="bulleted indented">
            <a href="#testimonials">Testimonials</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 pb-70 white-bg">
  <div class="container">
    <div class="row faq">
      <div class="col-12">
        <h3 id="attending" class="faq-title">Attending Ruby for Good</h3>
        <p>
          The Ruby for Good DC event is an annual event based out of the Washington DC metro area where technologists from all over the globe get together for a long weekend to build projects that help our communities. In 2023 the event will take place at
          <a
            href="https://www.gmu.edu/"
            target="_blank"
            rel="noopener noreferrer"
            >George Mason University</a
          >
          in Fairfax, VA. Participants will stay in on-site housing with coding and socializing taking place in communal areas. Lodging, meals, and after hours snacks are included in ticket costs. Join us July 27–30 for the fun of giving back!
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="how-does-it-work" class="faq-title">
          How Does Ruby for Good Work?
        </h3>
        <p>
          This is an event for people of <em>all</em> skill levels so even if you are new, we won't let that prevent you from contributing!
        </p>
        <p>
          Attendees self-select into projects that are meaningful to them and then the fun begins! Most projects have a need for a variety of skills including developers, designers, and product management. While most of our attendees use Ruby, we welcome programmers of other languages, especially if you’re interested in learning some Ruby!
        </p>
        <p>
          <i class="far fa-smile maize-crayola-dark"></i> Past years have benefited from attendees with JavaScript, architecture, and design skills as well.
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="schedule" class="faq-title">
          That Sounds Awesome, Tell Me More!
        </h3>
        <p>
          Here is <a href="/events/schedule">the tentative schedule</a> for 2023.
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="team-lead-interest" class="faq-title">
          Interested in Co-Leading a Team?
        </h3>
        <p>
          During registration we’ll ask if you’d like to lead a team — say yes! We’ll be in touch in early July with potential projects. We’ll brief you on expectations and put you in touch with your nonprofit. You'll work with them in advance of the event to take care of project requirements, milestones, and initial setup so you can hit the ground running with your team at Ruby for Good. Setup includes creating a GitHub repo under the Ruby for Good GitHub, filing issues to work off of during the event, and making some technology suggestions.
        </p>
        <p>
          Don't worry! Team leads don’t work alone, most projects have multiple leads working together as a group. There are also several people who help across the teams that you can get support from. If you want to know what it will be like to lead a team this year, <a href="/events/team-leads">read our team lead guide</a>. For an in-depth look from a past year's team lead, check out Brandon Rice’s blog post, <a href="http://www.blrice.net/blog/2015/08/10/leading-a-team-at-ruby-for-good/" target="_blank" rel="noopener noreferrer">Leading a Team at Ruby for Good</a>.
        </p>
        <p>
          Still not sure and want to talk about it with an organizer? <a href="mailto:info@rubyforgood.org">Drop us a note.</a>
        </p>
        <p>
          Also, if you have a project in mind that you’d like to lead, <a href="https://airtable.com/shrC6VjWgka26a6eh" target="_blank" rel="noopener noreferrer">suggest a project</a> to work on!
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="registering" class="faq-title">Registering</h3>
        <p>
          <a href="https://ti.to/codeforgood/rubyforgood" target="_blank" rel="noopener noreferrer">Registration is open now!</a> Please consider also <a href="https://ti.to/codeforgood/rubyforgood" target="_blank" rel="noopener noreferrer">contributing to our scholarship fund</a>. It costs about $350 per scholarship recipient, and we rely on your help to make this event accessible to everyone.
<!--          Those seeking a scholarship can <a href="https://docs.google.com/forms/d/e/1FAIpQLScH0Zz1Lg4G086BAjukwaodVwrluFAKccE9vrg1dPoyjIc8FQ/viewform" target="_blank" rel="noopener noreferrer">apply here</a>.-->
        </p>
        <p>
          We are particularly interested in creating a diverse and inclusive space, and especially encourage those underrepresented in tech to join the event. Want to help make the event more inclusive? Invite others who will make the space welcoming and <a href="https://ti.to/codeforgood/rubyforgood" target="_blank" rel="noopener noreferrer">sponsor a scholarship recipient waitlisted for lack of funds</a>. <i class="fa fa-heart-o red-salsa"></i>
        </p>
        <p>
          Please read our <a href="/events/coc">Code of Conduct</a> prior to attending.
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="why-attend" class="faq-title">
          Why Have Ruby for Good Events?
        </h3>
        <p>
          Several of our projects could benefit from a weekend's worth of focused gooding and it gives us a chance to share the Ruby for Good experience with more folks.
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="skill-level-requirement" class="faq-title">
          What Skill Level Do I Need to Have to Attend?
        </h3>
        <p>
          All experience levels are definitely welcome! We have a wide variety of skill levels—some people have next to no experience in programming, some people have decades. But the same applies to other areas too! We have a wide variety of skill levels in pair programming, teaching, or product building—and these don’t necessarily correlate with years of programming experience. The event is as much about learning as it is about building great things. Groups are very collaborative and you’ll definitely have the opportunity to work closely with others and push a lot of code. <i class="far fa-smile maize-crayola-dark"></i>
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="programming-requirement" class="faq-title">
          Do I Need to Be a Programmer?
        </h3>
        <p>
          We need developers, designers, product/project managers, and anyone interested in making at difference at Ruby for Good.
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="suggest-a-project" class="faq-title">
          How Do I Suggest a Project?
        </h3>
        <p>
          Have a project you’re jonesing to work on?
          <a href="https://airtable.com/shrC6VjWgka26a6eh" target="_blank" rel="noopener noreferrer"><i class="fa fa-heart-o"></i> Suggest it here!</a>
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="which-projects" class="faq-title">
          What ARE the nonprofits you'll be helping this year?
        </h3>
        <p>
          We’ll announce project details, including available teams to join, the first night of the event.
        </p>
        <p>
          For reference, last year's projects and associated nonprofits were:
          <ul class="bulleted indented">
            <li class="bulleted indented">
              <a href="https://github.com/rubyforgood/human-essentials" rel="noopener noreferrer" target="_blank">Human Essentials</a> supports the <a href="https://nationaldiaperbanknetwork.org/" rel="noopener noreferrer" target="_blank">National Diaper Bank Network</a>, <a href="https://allianceforperiodsupplies.org/" rel="noopener noreferrer" target="_blank">Alliance for Period Supplies</a>, and their partner organizations
            </li>
            <li class="bulleted indented">
              <a href="https://github.com/rubyforgood/casa" rel="noopener noreferrer" target="_blank">CASA Volunteer Tracking</a> was piloted for a <a href="https://nationalcasagal.org/" rel="noopener noreferrer" target="_blank">Court Appointed Special Advocates (CASA)</a> organization located in <a href="https://pgcasa.org/" rel="noopener noreferrer" target="_blank">Prince George's County, MD</a> and has since been implemented at the <a href="https://casaspeaks4kids.com/" rel="noopener noreferrer" target="_blank">Montgomery County, MD</a> and <a href="https://marylandcasa.org/programs/howard-county/" rel="noopener noreferrer" target="_blank">Howard County, MD</a> locations
            </li>
            <li class="bulleted indented">
              <a href="https://github.com/rubyforgood/circulate" rel="noopener noreferrer" target="_blank">Circulate</a> powers the online inventory catalog behind the <a href="https://www.chicagotoollibrary.org/" rel="noopener noreferrer" target="_blank">Chicago Tool Library</a>
            </li>
            <li class="bulleted indented">
              <a href="https://github.com/rubyforgood/shelter-assist" rel="noopener noreferrer" target="_blank">Shelter Assist</a> helps foster-based animal rescue <a href="https://www.thelittleblackdog.org/" rel="noopener noreferrer" target="_blank">The Little Black Dog</a> keep track of their animals and people
            </li>
            <li class="bulleted indented">
              <a href="https://github.com/rubyforgood/inkind-volunteer" rel="noopener noreferrer" target="_blank">InKind Volunteer</a> and <a href="https://github.com/rubyforgood/inkind-admin" rel="noopener noreferrer" target="_blank">InKind Admin</a> track volunteer interactions with students for <a href="https://www.cep.ngo/" rel="noopener noreferrer" target="_blank">Community Education Partnerships (CEP)</a>
            </li>
          </ul>
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="how-to-help" class="faq-title">How Can I Help?</h3>
        <ul class="bulleted indented">
          <li class="bulleted indented">
            <b>Suggest a project.</b> We always need worthy projects! We’ve compiled an Airtable form to make the submission easy.
            <a href="https://airtable.com/shrC6VjWgka26a6eh" target="_blank" rel="noopener noreferrer"><i class="fa fa-heart-o"></i> Suggest a project!</a>
          </li>
          <li class="bulleted indented">
            <b>Lead a team.</b> This is a great way to up your skills, especially if you’ve been programming for a while and are eager for the experience of leading a team.
          </li>
          <li class="bulleted indented">
            <b>Ask your employer for sponsorship.</b> We need lots of help with fundraising. The long weekend experience is expensive and we’d like to offer tickets to the wonderful folks who volunteer for as little as possible. This is only possible with donations and sponsors! Please reach out to your employer to see if they would be willing to help us give back to our community, or talk with us about how to do this.
          </li>
          <li class="bulleted indented">
            <b>Donate.</b> Would you be willing to chip in to help bring more scholarship recipients to the event? <a href="https://ti.to/codeforgood/rubyforgood" target="_blank" rel="noopener noreferrer">We need your help.</a>
          </li>
          <li class="bulleted indented">
            <b>Spread the word.</b> This event happens because of you, and we need both developer and designer expertise! Please tell everyone about Ruby for Good.
          </li>
        </ul>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="hackathon" class="faq-title">Is This a Hackathon?</h3>
        <p>
          No. This is definitely not a hackathon. Sean cringes everytime someone mentions 'hackathon' and 'Ruby for Good' in the same sentence. (Try it.)
        </p>
        <p>
          The difference? A hackathon often ends up in a lot of code that isn’t used beyond the event. We have people actively using our codebases! It feels very different to have a client/stakeholder excited to use your work and helping to direct what we do.
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="ticket-sales" class="faq-title">When Do Tickets Go on Sale?</h3>
        <p>
          <a href="https://ti.to/codeforgood/rubyforgood" target="_blank" rel="noopener noreferrer">Tickets are on sale now! Grab yours today!</a> Our last one was so fun. Tell all your #rubyfriends!
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="ticket-purchases" class="faq-title">
          When Do I Need to Purchase My Ticket?
        </h3>
        <p>
          By July 5th or when we sell out, whichever comes first! We can’t wait to see you.
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="refunds-and-transfers" class="faq-title">
          Oops, I Bought My Ticket and Now I Can’t Go. Will You Please Refund/Transfer?
        </h3>
        <p>
          After June 1st we will be unable to offer refunds but we will happily help coordinate exchanges/transfers until July 5th. <a href="mailto:info@rubyforgood.org">Drop us a note</a> if you need help coordinating this.
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="kickoff-attendance" class="faq-title">
          Do I Really HAVE to Be There by 4pm on Thursday for Kickoff?
        </h3>
        <p>
          Yeah, you really do. Teams will be chosen right around that time and you’ll spend the remainder of the time meeting with your team, chatting about your projects, and getting your environments aligned. We’ve found the event is most successful, with the most buy-in, when teams are a cohesive bunch from the beginning.
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="early-arrival" class="faq-title">
          How Early Can I Arrive on Thursday?
        </h3>
        <p>
          Most of the organizing team is planning on arriving at 2pm but feel free to beat us there!
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="transportation" class="faq-title">
          I'm Flying To DC, How Will I Get There?
        </h3>
        <p>
          The DC area has three main airports. DCA is the favorite one of DC locals because it’s the most central, but Dulles and BWI also work.
        </p>
        <p>
          As for getting from the airport to George Mason, we've got you covered! We're going to be coordinating car pools and we'll have a few folks with larger vehicles leaving from strategic locations in the area. Worst case, you can use DC's public transportation system to get to the Vienna Metro station and take a university shuttle from there.
        </p>
        <p>
          If you're driving, we'll have a place for you to park your car for the weekend. We'll send out more information about this closer to the event.
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="food-info" class="faq-title">How Does Food Work?</h3>
        <p>
          All food is provided, you just need to bring yourself! We'll even provide snacks in the evenings when we're all singing karaoke, socializing, playing board games, and werewolf!
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="food-restrictions" class="faq-title">
          I’m a Vegetarian/Vegan/Gluten-free/Allergic to...
        </h3>
        <p>
          Don't worry, the venue is happy to work around food restrictions. Let us know ahead of time so we can prepare for that!
        </p>
      </div>
    </div>

    <div class="row faq">
      <div class="col-12">
        <h3 id="testimonials" class="faq-title">
          What’s it REALLY Like at Ruby for Good?
        </h3>
        <p>
          So glad you asked! For expert insight, here are a couple of blog posts written up by past Ruby for Good team leads and Ruby for Good attendees:
        </p>
        <ul class="coc">
          <li class="coc">
            <a href="https://chelseatroy.com/2019/04/02/behind-the-scenes-ruby-by-the-bay-civic-hack/" target="_blank" rel="noopener noreferrer">Behind the Scenes: Ruby By the Bay Civic Hack</a> by Chelsea Troy <a href="https://twitter.com/HeyChelseaTroy" target="_blank" rel="noopener noreferrer" title="Chelsea Troy's Twitter Account"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="coc">
            <a href="https://blog.mapbox.com/ruby-for-good-2018-61dd45a7fdb7" target="_blank" rel="noopener noreferrer">Ruby for Good 2018</a> by Dom Brassey <a href="https://twitter.com/domlet" target="_blank" rel="noopener noreferrer" title="Dom Brassey's Twitter Account"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="coc">
            <a href="https://blog.homesnap.com/homesnap-terrastories-ruby-hack-thon" target="_blank" rel="noopener noreferrer">Giving Back: Homesnap Joins a Hack-A-Thon for Good</a> by Jazz Howington
          </li>
          <li class="coc">
            <a href="https://www.amazonteam.org/act-partakes-in-ruby-for-good-2018-to-develop-offline-geostorytelling-app-terrastories-for-remote-communities/" target="_blank" rel="noopener noreferrer">ACT partakes in Ruby for Good 2018 to develop offline geostorytelling app Terrastories for remote communities</a> by Rudo Kemper <a href="https://twitter.com/rudokemper" target="_blank" rel="noopener noreferrer" title="Rudo Kemper's Twitter Account"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="coc">
            <a href="https://blog.codeship.com/how-to-inspire-community-in-programming/" target="_blank" rel="noopener noreferrer">How to Inspire Community in Programming</a> by Daniel P. Clark
          </li>
          <li class="coc">
            <a
              href="http://technology.customink.com/blog/2016/06/23/ruby-for-good-2016/"
              target="_blank"
              rel="noopener noreferrer"
              >ruby-for-good-2016</a
            >
            by Kalimar Maia <a href="https://twitter.com/kalimar" target="_blank" rel="noopener noreferrer" title="Kalimar Maia's Twitter Account"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="coc">
            <a href="https://acuriousloop.wordpress.com/2016/06/21/ruby-for-good/" target="_blank" rel="noopener noreferrer">Ruby for Good</a> by Adina
          </li>
          <li class="coc">
            <a href="http://www.blrice.net/blog/2015/08/10/leading-a-team-at-ruby-for-good/" target="_blank" rel="noopener noreferrer">Leading a Team at Ruby for Good</a> by Brandon Rice
          </li>
          <li class="coc">
            <a href="http://www.blrice.net/blog/2014/08/09/lessons-learned-at-ruby-for-good/" target="_blank" rel="noopener noreferrer">Lessons Learned at Ruby for Good</a> by Brandon Rice
          </li>
        </ul>
        <p>
          If you'd like your Ruby for Good experience to be included in our listed above, please email us at <a href="mailto:info@rubyforgood.org">info@rubyforgood.org</a> and we'll get it on the site pronto. Blogs, articles, podcasts, etc. are welcome!
        </p>
      </div>
    </div>
  </div>
</section>