<section class="pt-100 pb-20 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-20">Event FAQ</h2>
        </div>
      </div>
      <!-- /col-xl-10 col-12 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>


<section class="dark navigation-spacing">
  <div class="container">
    <article class="article-big page">
      <h3 id="attending-ruby-by-the-bay">Attending Ruby for Good</h3>

      <p>The Ruby for Good DC event is an annual event based out of the Washington DC metro area where technologists
        from all over the globe get together for a long weekend to build projects that help our communities. In 2021 the
        event will take place at the Shepherd's Spring retreat in Sharpsburg, MD. Participants will stay in on-site
        housing with all lodging and meals provided with coding and socializing taking place in communal areas. Join us
        Sept 23rd - Sept 26th for the fun of giving back!</p>

      <h5 id="how-does-ruby-by-the-bay-work">How Does Ruby for Good Work?</h5>

      <p>This is an event for people of <em>all</em> skill levels so even if you are new, don’t let that prevent you
        from contributing! Attendees self-select into projects that are meaningful to them and the fun begins! Most
        projects have a need for a variety of skills including developers, designers and project management. While most
        of our attendees use Ruby, we welcome programmers of other languages, especially if you’re interested in
        learning some Ruby :) Past years have benefited from attendees with JavaScript, architecture, or design skills
        as well.</p>

      <h5 id="that-sounds-awesome-tell-me-more">That Sounds Awesome, Tell Me More!</h5>

      <p><a href="/events/schedule">Here is the tentative schedule for 2021</a></p>

      <h5 id="interested-in-leading-a-team">Interested in Co-Leading a Team?</h5>

      <p>During registration we’ll ask if you’d like to lead a team - say yes! We’ll be in touch in August with
        potential projects. We’ll brief you on expectations and put you in touch with your non-profit so you can work
        with them in advance of the event to set up project requirements, milestones and initial set up so you can hit
        the ground running with your team at Ruby for Good. Setup includes creating a github repo under the Ruby for
        Good Github, filing issues to work off of during the event, and making some technology suggestions. If you want
        to know what it will be like to lead a team this year, <a href="/events/team-leads.html">read our team lead
          guide</a>. For an in-depth look at what it’s like to lead a team, check out Brandon Rice’s <a
            href="http://www.blrice.net/blog/2015/08/10/leading-a-team-at-ruby-for-good/">blog</a>. If you’re not sure
        and want to talk about it with an organizer? Drop us a <a href="mailto:info@rubybythebay.org">note</a>.</p>

      <p>Also — if you have a project in mind that you’d like to lead, <a href="https://airtable.com/shrC6VjWgka26a6eh">suggest
        a project</a> to work on!</p>

      <h5 id="registering">Registering</h5>

      <p><a href="https://ti.to/codeforgood/rubyforgood">Tickets are on sale now!</a>
        Please consider also <a href="https://ti.to/codeforgood/rubyforgood">contributing to our scholarship fund
          now</a>. It costs about $350 per scholarship recipient, and we rely on your help to make this event accessible
        to everyone.</p>

      <p>We are particularly interested in creating a diverse and inclusive space, and especially encourage those
        underrepresented in tech to join the event. Want to help make the event more inclusive? invite others who will
        make the space welcoming, and <a href="https://ti.to/codeforgood/rubyforgood">sponsor a scholarship recipient
          waitlisted for lack of funds</a> &lt;3</p>

      <p>Please read our <a href="/coc.html">Code of Conduct</a> prior to attending.</p>

      <h5 id="why-ruby-by-the-bay">Why Have Ruby for Good Events?</h5>

      <p>Several of our projects could benefit from a weekend worth of focused gooding and it gives us a chance to share
        the Ruby for Good experience with more folks.</p>

      <h5 id="what-skill-level-do-i-need-to-be-to-attend">What skill level do I need to be to attend?</h5>

      <p>All experience levels are definitely welcome! We have a wide variety of skill levels – some people have next to
        no experience in programming, some people have decades. But the same applies to other areas too! We have a wide
        variety of skill levels in pair programming, teaching, or product building – and these don’t necessarily
        correlate with years of programming experience. The event is as much about learning as it is about building
        great things. Groups are very collaborative and you’ll definitely have the opportunity to work closely with
        others and push a lot of code. :)</p>

      <h5 id="do-i-need-to-be-a-programmer">Do I need to be a programmer?</h5>

      <p>We need developers, designers, Product, and anyone interested in making at difference at Ruby for Good.</p>

      <h5 id="how-do-i-suggest-a-project">How do I suggest a project?</h5>

      <p>Have a project you’re jonesing to work on? <a href="https://airtable.com/shrC6VjWgka26a6eh"><i
          class="fa fa-heart-o fa-1x"></i>Suggest a project!</a></p>

      <h5 id="what-are-the-projects-this-year">What ARE the non-profits you'll be helping this year?</h5>

      <p>We’ll announce project details, including available teams to join, the first night of the event.</p>

      <h5 id="i-dont-know-if-i-want-to-lead-a-team-what-do-i-do">I don’t know if I want to co-lead a team. What do I
        do?</h5>

      <p>In general, leading a team entails connecting with stakeholders, initial architecting, planning out project
        milestones, and keeping your team moving forward. Here’s more <a
            href="http://www.blrice.net/blog/2014/08/09/lessons-learned-at-ruby-for-good/">information</a> about leading
        a team from Brandon Rice, a team lead in 2015 (who was SUPER awesome. Just sayin’.). Still not sure and want to
        talk about it with an organizer? Drop us a <a href="mailto:info@rubybythebay.org">note</a>.</p>

      <h5 id="how-can-i-help">How can I help?!</h5>

      <ul>
        <li>Suggest a project - We always need worthy projects! We’ve compiled an airtable form to make the submission
          easy. <a href="https://airtable.com/shrC6VjWgka26a6eh"><i class="fa fa-heart-o fa-1x"></i>Suggest a
            project!</a></li>
        <li>Lead a team - a great way to up your skills, especially if you’ve been programming for a while and are eager
          for the experience of leading a team.
        </li>
        <li>Ask your employer for sponsorship - we need lots of help with fundraising. The long weekend experience is
          expensive and we’d like to offer tickets to the wonderful folks who volunteer for as little as possible. This
          is only possible with donations and sponsors! Please reach out to your employer to see if they would be
          willing to help us give back to our community, or talk with us about how to do this.
        </li>
        <li>Donate - would you be willing to chip in to help bring more scholarship recipients to the event? <a
            href="https://ti.to/codeforgood/rubyforgood">We need your help.</a></li>
        <li>Spread the word - this event happens because of you, and we need both developer and designer expertise!
          Please tell everyone about Ruby for Good.
        </li>
      </ul>

      <h5 id="is-this-a-hackathon">Is this a hackathon?</h5>

      <p>No. This is definitely not a hackathon. Sean cringes everytime someone mentions ‘hackathon’ and ‘Ruby for Good’
        in the same sentence. (Try it.)</p>

      <h5 id="when-do-i-need-to-purchase-my-tickets">When do I need to purchase my registration?</h5>

      <p>By Sept 2nd or when we sell out, whichever comes first! We can’t wait to see you.</p>

      <h5 id="oops-i-bought-my-ticket-and-now-i-cant-go-will-you-please-refundtransfer">Oops, I bought my ticket and now
        I can’t go. Will you please refund/transfer?</h5>

      <p>After July 23rd we will be unable to offer refunds but we will happily help coordinate exchanges until Sept
        2nd. Drop us a <a href="mailto:info@rubyforgood.org">note</a>.</p>

      <h5 id="when-do-tickets-go-on-sale">When do tickets go on sale?</h5>

      <p><a href="https://ti.to/codeforgood/rubyforgood">Tickets are on sale now! buy yours today</a> Our last one was
        so fun. Tell all your #rubyfriends!</p>

      <h5 id="do-i-really-have-to-be-there-by-4pm-on-friday-for-kickoff">Do I really HAVE to be there by 4pm on Thursday
        for kickoff?</h5>

      <p>Yeah, you really do. Teams will be chosen right around that time and you’ll spend remainder of the time meeting
        with your team, chatting about your projects, and getting your environments aligned. We’ve found the event is
        most successful, with the most buy-in, when teams are a cohesive bunch from the beginning.</p>

      <h5 id="how-early-can-i-arrive-on-friday">How early can I arrive on Thursday?</h5>

      <p>Most of the organizing team is planning on arriving at 2pm but feel free to beat us there. There’s some amazing
        hiking (of different levels of ease or difficulty) just a few minutes from the venue.</p>

      <h5 id="how-does-food-work">How does food work?</h5>

      <p>All meals are catered by the retreat space and Ruby for Good will be providing snacks and munchies in the
        evenings when we're playing games. There might even be some s'mores supplies.</p>

      <h5 id="im-a-vegetariandairy-freevegangluten-freepaleoallergic-to-will-you-feed-me">I’m a
        vegetarian/vegan/gluten-free/allergic to...</h5>

      <p>Don't worry, the venue is happy to work around food restrictions. Let us know ahead of time so we can prepare
        for that!</p>

      <h5 id="whats-it-really-like-at-ruby-for-good">What’s it REALLY like at Ruby for Good?</h5>

      <p>So glad you asked! For expert insight, here are a couple of blog posts written up by past Ruby for Good and
        Ruby for Good attendees:</p>


      <ul>
        <li>https://chelseatroy.com/2019/04/02/behind-the-scenes-ruby-by-the-bay-civic-hack/</li>
        <li>https://blog.codeship.com/how-to-inspire-community-in-programming/</li>
        <li>http://www.blrice.net/blog/2014/08/09/lessons-learned-at-ruby-for-good/</li>
        <li>https://blog.homesnap.com/homesnap-terrastories-ruby-hack-thon</li>
        <li>https://blog.mapbox.com/ruby-for-good-2018-61dd45a7fdb7</li>
        <li>https://acuriousloop.wordpress.com/2016/06/21/ruby-for-good/</li>
        <li>
          https://www.amazonteam.org/act-partakes-in-ruby-for-good-2018-to-develop-offline-geostorytelling-app-terrastories-for-remote-communities/
        </li>
        <li>http://technology.customink.com/blog/2016/06/23/ruby-for-good-2016/</li>
      </ul>

    </article>
  </div>
</section>