<section class="pt-100 pb-20 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-20">Ruby for Good 2021</h2>
        </div>
      </div>
      <!-- /col-xl-10 col-12 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">Our Event</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col mb-20">
        <p>
          The Ruby for Good DC conference is an annual event based out of the DC metro area where engineers, designers, product managers, and other do-gooders from all over the globe get together over a long weekend to work on or build projects that help our communities. Think of it as hanging out in a communal space for a weekend with a bunch of developers and designers to work on something useful. Participants stay on-site; hacking and socializing takes place in communal areas. Join us just for the fun of giving back! Questions? Check out the <a href="https://rubyforgood.org/events/faq" target="_blank">FAQ</a> or drop us a note on <a href="https://rubyforgood.herokuapp.com/" target="_blank" rel="noopener noreferrer">Slack</a> or via email at <a href="mailto:info@rubyforgood.org" target="_blank">info@rubyforgood.org</a>.
        </p>
        <p>
          This year we are going to be holding the event at <a href="tinyurl.com/ky3ars6a" target="_blank" rel="noopener noreferrer">a gorgeous retreat space</a> in the woods a little more than an hour outside of DC. With the pandemic and the stress of the past year, we wanted to get away from the hustle and bustle of the cities where we could de-stress with all of our friends both new and old. Spending time in nature is good for you, and don't take it from us—<a href="https://www.nbcnews.com/better/pop-culture/how-nature-can-solve-life-s-most-challenging-problems-ncna749361" target="_blank" rel="noopener noreferrer">that's just science</a>! Plus, eating s'mores in front of a campfire after a day of civic hacking is pretty much the best thing ever.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Sponsor Us</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>
          We're very proud to again be organizing the Ruby for Good DC conference. This conference, to our knowledge, is the first and currently only conference of this kind ever. We are bringing together technologists to learn, teach, and work on civic and open source projects.
        </p>
        <p><strong>Why Sponsor?</strong></p>
        <p>
          By the very nature of our conference, our attendees are some of the most passionate, connected, and involved in the Ruby community. For companies looking to hire this is an excellent opportunity to meet and interact professionally and socially with prospective candidates. By sponsoring you are showing your commitment to your community, open source, and the Ruby community. Plus, we are a 501(c)3 non-profit!
        </p>
        Download our sponsorship prospectus here.
      </div>
    </div>
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Safety Information</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>
          For the safety of all, we are requiring that all attendees be fully vaccinated (2 weeks after date of last shot) in order to attend this event. Proof must be submitted, at the latest, 2 week prior to the event with non-compliance resulting in ejection from the event.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Code of Conduct</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        Please take time to read our [code of conduct](/events/coc). Ignorance of the rules is not an excuse.
      </div>
    </div>
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">Scholarships</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>
          We will be posting a link in this space to apply for a scholarship when the application opens.
        </p>
      </div>
    </div>
  </div>
</section>
