<section class="pt-100 pb-20 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-20">Ruby for Good 2021</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">Sept 23 - 26</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">Our Event</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">

    <div class="row">
      <div class="col-12 mb-20">
        <p>
          The Ruby for Good DC Conference is an annual event based out of the DC metro area where engineers, designers, product managers, and other gooders from all over the globe get together over a long weekend to collaboratively build projects in service of our communities. Gooders stay on-site, and hacking and socializing takes place in communal areas. Questions? Check out the <a href="/events/faq">FAQ</a> or drop us a note on <a href="https://rubyforgood.herokuapp.com/" target="_blank" rel="noopener noreferrer">Slack</a> or via email at <a href="mailto:info@rubyforgood.org" target="_blank">info@rubyforgood.org</a>.
        </p>
        <p>
          This year we are going to be holding the event at <a href="https://tinyurl.com/ky3ars6a" target="_blank" rel="noopener noreferrer">a gorgeous retreat space</a> in the woods, just about an hour outside of DC. With the pandemic and the stress of the past year, we wanted to get away from the hustle and bustle of the cities where we could destress with our friends both new and old. Spending time in nature is good for you. Don't take it from us, <a href="https://www.nbcnews.com/better/pop-culture/how-nature-can-solve-life-s-most-challenging-problems-ncna749361" target="_blank" rel="noopener noreferrer">that's just science</a>! Plus, eating s'mores in front of a campfire after a day of civic hacking is pretty much the best thing ever.
        </p>
        <p>
          We're very proud to once again be organizing the Ruby for Good DC conference. This conference, to our knowledge, is the first and currently the only one of its kind. We are bringing together technologists to learn, teach, and work on civic and open source projects.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="text-center">
          <a
            class="btn btn-donate mx-4 mt-5"
            href="https://ti.to/codeforgood/rubyforgood"
            type="button"
            target="_blank"
          >
            Register Now
          </a>
        </p>
      </div>
    </div>

  </div>
</section>

<section id="sponsor" class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Sponsor Us</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">

    <div class="row">
      <div class="col-12 mb-20">
        <p>
          We're very proud to once again be organizing the Ruby for Good DC conference. This conference, to our knowledge, is the first and currently only conference of this kind ever. We are bringing together technologists to learn, teach, and work on civic and open source projects.
        </p>
        <p><strong>Why Sponsor?</strong></p>
        <p>
          By the very nature of our conference, our attendees are some of the most passionate, connected, and involved in the Ruby community. For companies looking to hire, this is an excellent opportunity to meet and interact professionally and socially with prospective candidates. By sponsoring, you are demonstrating your commitment to your community, open source, and the Ruby community.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="text-center">
          <a
            class="btn btn-event mx-4 mt-5"
            href="/assets/Sponsorship-Prospectus.pdf"
            type="button"
            target="_blank"
          >
            Sponsorship Prospectus
          </a>
        </p>
      </div>
    </div>

  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Safety Information</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>
          For the safety of all, we are requiring that all attendees be fully vaccinated (meaning 2 weeks after the date of your last shot), in order to attend this event. Proof must be submitted 2 weeks prior to the event (at the latest) with non-compliance resulting in participants being unable to attend the event.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Code of Conduct</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>
          Please take some time to read our <a href="/events/coc">Code of Conduct</a>. Violation of the code of conduct will not be tolerated.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">Scholarships</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>
          Stay tuned, a scholarship application link will be posted here shortly!
        </p>
      </div>
    </div>
  </div>
</section>
