<section class="pt-100 pb-20 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-20">2023 Event Schedule</h2>
        </div>
      </div>
      <!-- /col-xl-10 col-12 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col mb-20">
        <p>
          We'll be using the
          <a
            href="https://join.slack.com/t/rubyforgood/shared_invite/zt-1kfeimohe-KL~~~6Lkof7G94_7Ojd_Hw"
            target="_blank"
            rel="noopener noreferrer"
            >Ruby for Good Slack</a
          >
          extensively during the event so sign up now so you don't miss any announcements, have an early opportunity to meet all your new friends and all other info!
        </p>
        <p>What else?</p>
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Thursday, July 27th</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <ul>
          <li>
            4:00 pm - Visit with team leads, familiarize yourself with each project’s nonprofit and their mission, ask about particular projects, get a sense of technical requirements. Consider this an opportunity to go into a little more depth with projects before you choose to commit to one in particular. This portion is optional, but you may find it helpful in making your decision!
          </li>
          <li>5:00 pm - Event kickoff and announcements</li>
          <li>
            5:30 pm - Team pitches, team selection, initial team discussion
          </li>
          <li>5:45 pm - Dinner with your team (and others!) - Southside Dining Hall</li>
          <li>6:30 pm – Teams set up environments, clone down repos, etc.</li>
          <li>
            8:30 pm or earlier if teams have everything ready to go for Friday - Karaoke, board games, computer games, socializing, and other random fun.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Friday, July 28th</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <ul>
          <li>8:00 am - Breakfast</li>
          <li>9:00 am - Work on projects</li>
          <li>12:45 pm - Lunch (Southside Dining Hall)</li>
          <li>2:00 pm - Work on projects</li>
          <li>5:45 pm - Dinner (Southside Dining Hall)</li>
          <li>6:30 pm - Karaoke, board games, socializing, fun!</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Saturday, July 29th</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <ul>
          <li>8:00 am - Breakfast</li>
          <li>9:00 am - Work on projects</li>
          <li>12:00 pm - Lunch (Southside Dining Hall)</li>
          <li>1:00 pm - Work on projects</li>
          <li>
            5:15 pm - PHOTOS (entire group, individual teams, flatiron students, and saturdaysnuggle)
          </li>
          <li>5:45 pm - Dinner (Southside Dining Hall)</li>
          <li>
            6:30 pm - Career fair -- talk to our sponsors about positions at the awesome companies!
          </li>
          <li>7:30 pm - Karaoke, board games, socializing, fun!</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Sunday, July 30th</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <ul>
          <li>8:00 am - Breakfast</li>
          <li>9:00 am - Work on projects</li>
          <li>12:00 pm - Lunch</li>
          <li>
            1:00 pm - Demos (if your project isn’t finished, demo what you can!)
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 pt-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20 text-center">
        <p>Any questions? Contact us on Slack or send us an email!</p>
        <a
          class="btn btn-primary mx-4 mt-5"
          href="https://join.slack.com/t/rubyforgood/shared_invite/zt-1kfeimohe-KL~~~6Lkof7G94_7Ojd_Hw"
          target="_blank"
          rel="noopener noreferrer"
        >
          Slack
        </a>
        <a
          class="btn btn-secondary mx-4 mt-5"
          href="mailto:info@rubyforgood.org"
          target="_blank"
        >
          Email Us
        </a>
      </div>
    </div>
  </div>
</section>