<section class="pt-100 pb-20 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-20">2025 Event Schedule</h2>
        </div>
      </div>
      <!-- /col-xl-10 col-12 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col mb-20">
        <p>
          We'll be using the <a href="https://join.slack.com/t/rubyforgood/shared_invite/zt-34b5p4vk3-NWIw6hKs2ma~wm7mYSe0_A" target="_blank" rel="noopener noreferrer">Ruby for Good Slack</a> extensively during the event. Sign up now so you don't miss any announcements, have an early opportunity to meet all your new friends, and get all the Ruby insider info!
        </p>
        <p>
          Below is a tentative schedule for our 2025 Ruby for Good event. Any last-minute changes will be communicated
          to attendees via Slack and updated here shortly thereafter.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Thursday, September 11th</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <ul>
          <li>
            4:00 pm - Visit with team leads, familiarize yourself with each project’s nonprofit and their mission, ask
            about particular projects, and get a sense of technical requirements. Consider this an opportunity to go into a
            little more depth with projects before you choose to commit to one in particular. This portion is optional,
            but you may find it helpful in making your decision!
          </li>
          <li>
            5:00 pm - Event kickoff and announcements
          </li>
          <li>
            5:30 pm - Team pitches, team selection, initial team discussion
          </li>
          <li>
            6:00 pm - Dinner with your team (and others!)
          </li>
          <li>
            7:00 pm – Teams set up environments, clone down repos, etc.
          </li>
          <li>
            8:30 pm or earlier if teams have everything ready to go for Friday - Board games, karaoke,
            socializing, and other random fun
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Friday, Sept 12th</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <ul>
          <li>
            8:00 am - Breakfast
          </li>
          <li>
            9:00 am - Work on projects
          </li>
          <li>
            12:00 pm - Lunch
          </li>
          <li>
            1:00 pm - Work on projects
          </li>
          <li>
            5:00 pm - Dinner
          </li>
          <li>
            6:30 pm – PHOTOS (entire group, individual teams, Flatiron students/alumni, and fridayhug)
          </li>
          <li>
            7:00 pm - Werewolf, board games, karaoke, campfire, s'mores, socializing, fun!
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Saturday, Sept 13th</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <ul>
          <li>
            8:00 am - Breakfast
          </li>
          <li>
            9:00 am - Work on projects
          </li>
          <li>
            12:00 pm - Lunch
          </li>
          <li>
            1:00 pm - Work on projects
          </li>
          <li>
            5:00 pm - Dinner
          </li>
          <li>
            6:30 pm - Career chat -- If you are looking, you or your company is hiring, or you just want to ask or help
            answer career questions this is the place for you
          </li>
          <li>
            7:30 pm - Werewolf, board games, karaoke, campfire, s'mores, socializing, fun!
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Sunday, Sept 14th</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <ul>
          <li>
            8:00 am - Breakfast
          </li>
          <li>
            9:00 am - Work on projects
          </li>
          <li>
            11:00 am - Demos (if your project isn’t finished, demo what you can!)
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 pt-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20 text-center">
        <p>Any questions? Contact us on Slack or send us an email!</p>
        <a class="btn btn-primary mx-4 mt-5" href="https://join.slack.com/t/rubyforgood/shared_invite/zt-34b5p4vk3-NWIw6hKs2ma~wm7mYSe0_A" target="_blank" rel="noopener noreferrer">Slack</a>
        <a class="btn btn-secondary mx-4 mt-5" href="mailto:info@rubyforgood.org" target="_blank">Email Us</a>
      </div>
    </div>
  </div>
</section>
