<section class="pt-100 pb-20 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-20">Team Lead Guide</h2>
        </div>
      </div>
      <!-- /col-xl-10 col-12 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col mb-20">
        <p>
          So you’re considering leading a team for Ruby for Good. You’re probably wondering what the heck that means. We’ve assembled some info on:
        </p>
        <ol class="numbered">
          <li class="numbered">what you can expect,</li>
          <li class="numbered">what we’ll expect from you, and</li>
          <li class="numbered">how to actually go about signing up.</li>
        </ol>
        <p>
          We’ll start with the TL;DR —
          <strong
            >Being a Ruby for Good Team Lead means making a 8-week commitment to lead and deliver an open source project: 6 weeks prepping before the event and 2 weeks of follow-up after the event.</strong
          >
        </p>
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">What Does It Mean To Lead a Team?</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col mb-20">
        <p>
          As a team lead you will be connecting with a partner organization that has a non-profit or civic mandate and work to deliver them software in support of their mission. This entails everything from meeting with the stakeholders, gathering requirements, translating those requirements, providing initial architecting, planning out project milestones, communicating with Ruby for Good organizers, pitching your project to Ruby for Good attendees, leading your team at the event July 28–31, and then seeing the project through to completion.
        </p>
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">What We Expect From Our Team Leads</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col mb-20">
        <p><strong>Week 1</strong></p>
        <ul class="indented">
          <li class="indented">
            Attend an all-hands Google Hangout for 2022 team leads.
          </li>
          <li class="indented">
            After your organizer writes an introduction email, reach out to the stakeholder via email to introduce yourself.
          </li>
          <li class="indented">
            Research your organization and familiarize yourself with their business problems. Begin to understand the organization and their needs.
          </li>
        </ul>
        <p><strong>Week 2</strong></p>
        <ul class="indented">
          <li class="indented">
            Connect face-to-face with the stakeholder. Skype, Zoom, or Google Hangout is okay; meeting in person when possible is even better!
          </li>
          <li class="indented">
            Meet 'n greet: Have a conversation about the technical capability of the organization, the project they had in mind, specific project requirements, nice-to-haves, both yours and the organization’s expectations, etc.
          </li>
          <li class="indented">
            Connect with your organizer to provide an update on the project's status.
          </li>
        </ul>
        <p><strong>Week 3</strong></p>
        <ul class="indented">
          <li class="indented">
            Communicate with the stakeholder to drill down on project requirements as necessary. If not needed, reach out to them anyway and let them know you’re continuing to think about their project.
          </li>
          <li class="indented">
            Connect with your organizer to provide an update on the project's status.
          </li>
        </ul>
        <p><strong>Week 4</strong></p>
        <ul class="indented">
          <li class="indented">
            Connect with the stakeholder for a SECOND time. Tell them where you are in solving their business problem.
          </li>
          <li class="indented">Brainstorm newbie tasks for your project.</li>
          <li class="indented">
            Connect with your organizer to provide an update on the project's status.
          </li>
        </ul>
        <p><strong>Week 5</strong></p>
        <ul class="indented">
          <li class="indented">
            Create a <code>README</code> in the Ruby for Good GitHub repo we have created for your project. This <code>README</code> should give information about the organization and what we will be building for them.
            <a
              href="https://github.com/rubyforgood/habitat_humanity/"
              target="_blank"
              rel="noopener noreferrer"
              >See a past project we completed for Habitat for Humanity</a
            >
            for a good example of a <code>README</code> file.
          </li>
          <li class="indented">
            Attend an all-hands Google Hangout for the 2022 team leads—a final check-in to get your questions answered before the official event happens in one week.
          </li>
          <li class="indented">
            Connect with your organizer to provide an update on the project's status.
          </li>
        </ul>
        <p><strong>Week 6</strong></p>
        <ul class="indented">
          <li class="indented">
            Attend a team lead and stakeholder BBQ the day before the event.
          </li>
          <li class="indented">Ruby for Good DC 2022 begins!</li>
          <li class="indented">
            Pitch your project to Ruby for Good attendees on opening night (4:00 PM EST sharp): Provide a brief intro to the organization, to the project, ask for specific technical skills if needed, communicate your team’s goals if you feel strongly about them (examples: deploy by the end of the event, emphasize team learning, master new gems, mandate pairing for all coding, explore new frontend technologies, etc.)
          </li>
          <li class="indented">
            Set team goals with your team. See above for inspiration.
          </li>
          <li class="indented">Lead the team during the event.</li>
        </ul>
        <p><strong>Week 7</strong></p>
        <ul class="indented">
          <li class="indented">Make a plan to deploy with your organizer.</li>
          <li class="indented">
            Note that about 20% of our projects finish during the event—and we’re happy about that! We don’t want you or your team burning yourselves out. Ruby for Good is as much about building community as it is about doing good. If you work late into the evenings, you miss out on playing board games and Werewolf and we want to see your face during these social times!
          </li>
        </ul>
        <p><strong>Week 8</strong></p>
        <ul class="indented">
          <li class="indented">
            Connect with your organizer to provide an update on the project's status.
          </li>
          <li class="indented">
            Deploy! Your project will be finished and delivered.
          </li>
          <li class="indented">
            Receive feedback on your mad team-leading skillz.
          </li>
        </ul>
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">What Can Our Team Leads Expect From Us?</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col mb-20">
        <ul class="bulleted">
          <li class="bulleted">
            We will make introductions between you and the partner organization.
          </li>
          <li class="bulleted">
            It sucks to be at a roadblock so the organizer overseeing your project will provide multiple methods of contact and will commit to responding to any request within a day.
          </li>
          <li class="bulleted">
            During the event, we will be available to help in any way you may need it.
          </li>
          <li class="bulleted">
            After your project is delivered, we will collect and give you meaningful feedback from the organization, your team, and the organizers. We all want to grow and improve and we’ll provide actionable feedback to help you do just that!
          </li>
          <li class="bulleted">
            We will take over maintenance of the application after it has been delivered, however, are completely welcome to stick with it and continue managing the project if you'd like.
          </li>
        </ul>
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">What Skills Do You Need to Lead a Team?</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col mb-20">
        <ul class="bulleted">
          <li class="bulleted">
            <b>Organization.</b> Do you like making to-do lists and keeping track of what has been finished? Perfect! There are a lot of details and moving parts and it pays to be organized.
          </li>
          <li class="bulleted">
            <b>Decision making.</b> Developers have lots and lots of opinions and we love to debate. I think we’ve all seen the rabbit hole we can fall down when people start discussing things like vim vs emacs, angular vs react, and so on. The team lead needs to be able to make decisions and keep the project moving forward.
          </li>
          <li class="bulleted">
            <b>Communication.</b> You will need to translate what the organization's needs are to your team. This also means that when your team is deciding how to build the app, you can effectively communicate the stakeholder,s needs if you have to reign in your team and prevent over-engineering what otherwise would be a simple solution.
          </li>
          <li class="bulleted">
            <b>Empathy.</b> We all participate because we are interested in making the world a better place. If we start with that belief, we realize that some problems form because people care too much.
          </li>
        </ul>
        <p>
          <strong>
            You may have noticed that we didn't list technical skills. The truth is that generally if you've been doing development for a year, you likely have the ability needed to lead a team. We'd love for you to get in touch about a project. Don't worry if you think you're missing some of the required skills. We're about learning and are happy to help and work with you to figure out a way to make it happen. Maybe that means a co-lead or appointing a technical decision-maker on your team. If you want to lead a team, we're committed to figuring out a strategy to make it work!
          </strong>
        </p>
        <p>
          We encourage you to reach out to past team leads and ask them about their experiences! It's a lot of fun, great for the resume, and extremely rewarding. <a href="http://www.blrice.net/blog/2015/08/10/leading-a-team-at-ruby-for-good/" target="_blank" rel="noopener noreferrer">Click here to read a blog post about a past team lead's experience with their first time leading a Ruby for Good project.</a>
        </p>
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">Interested in Leading a Team?</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col mb-20">
        <p>
          Message an organizer on <a href="https://rubyforgood.herokuapp.com/" target="_blank" rel="noopener noreferrer">Slack</a> or send us an email at <a href="mailto:info@rubyforgood.org">info@rubyforgood.org</a>.
        </p>
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>