<section class="pt-70{% if block.bg %} {{ block.bg }}{% endif %}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header{% if block.style %} {{ block.style }}{% endif %}">
          <h2 class="mb-10">{{ block.title }}</h2>
          {% if block.description %}
            <p>{{ block.description }}</p>
          {% endif %}
        </div>
      </div><!-- /col-12 col-xl-9 -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>