<div class="copyright-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12 text-center text-lg-left">
        <div class="copyright-text">
          <p>
            Making the World Gooder Since 2013 at
            <a href="{{ site.baseurl }}">Ruby for Good</a>
          </p>
        </div>
      </div>
      <!-- /col-6 -->

      <div class="col-7 d-none d-lg-block text-right">
        <div class="footer-menu">
          <ul>
            <li><a href="{{ site.url }}">Home</a></li>
            <li>
              <a
                href="https://github.com/rubyforgood/r4g-github-provisioning/blob/master/code-of-conduct.md"
                target="_blank"
              >
                Code of Conduct
              </a>
            </li>
            <li>
              <a href="https://github.com/rubyforgood/" target="_blank">
                Ruby for Good GitHub
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /col-6 - Hidden on screens smaller than 992px -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
