<footer class="footer-section">
    <div class="container">
        <!-- Start top footer section -->
        <div class="footer-line pt-80 pb-20">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>1010 Avenue, NY 90001, USA</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>989-554-6987</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>info@rubyforgood.org</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End top footer section -->
        <div class="footer-content pt-50 pb-30">
            <div class="footer-pattern">
                <img src="{{site.baseurl}}/assets/img/theme-stock/footer/footer_map.png" alt="">
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="{{site.url}}"><img src="{{site.white-logo}}" class="img-fluid" alt="{{site.title}}"></a>
                        </div>
                        <div class="footer-text">
                            <p>Making the world gooder.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="{{site.linkedin_url}}"><i class="fab fa-linkedin-in"></i></a>
                            <a href="{{site.twitter_url}}"><i class="fab fa-twitter"></i></a>
                            <a href="{{site.github_url}}"><i class="fab fa-github"></i></a>
                            <a href="{{site.twitch_url}}"><i class="fab fa-twitch"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="{{site.url}}">Home</a></li>
                            <li><a href="{{site.url}}/pages/donate">Donate</a></li>
                            <li><a href="{{site.url}}/pages/about-us">About</a></li>
                            <li><a href="{{site.url}}/pages/our-work">Our Work</a></li>
                            <li><a href="{{site.url}}/pages/join-us">Join Us</a></li>
                            <li><a href="{{site.url}}/pages/events">Events</a></li>
                            <li><a href="{{site.url}}/pages/about-us/contact-us">Contact us</a></li>
                            <li><a href="{{site.url}}/pages/about-us/our-blog">Our Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Get the latest updates, early notice for <span class="highlight">event registrations</span>, and other Ruby for Good news!</p>
                            <form action="https://rubyforgood.us8.list-manage.com/subscribe/post?u=2eec95e401f96687d14f4af24&amp;id=65f831bb77" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll" class="">
                                    <div class="mc-field-group form-group form-inline">
                                        <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="your@email.com" style="width:400px">
                                        <input type="submit" class="btn btn-xs btn-default" value="Subscribe" />
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2eec95e401f96687d14f4af24_65f831bb77" tabindex="-1" value=""></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2019, All Right Reserved <a href="#">Trade</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="{{site.url}}">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>