<footer class="footer-section">
  <div class="container">
  {% include mixins/footer_top.html %}
    <div class="footer-content pt-50 pb-30">
      <div class="footer-pattern">
        <img src="{{ site.baseurl }}/assets/img/theme-stock/footer/footer_map.png" alt="world map">
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="{{ site.baseurl }}"><img src="{{ site.white-logo }}" class="img-fluid" alt="{{ site.title }}"></a>
            </div>
            <div class="footer-text">
              <p>Making the world gooder.</p>
            </div>
            <div class="footer-social-icon">
              <span>Follow us</span>
              <a href="{{ site.linkedin_url }}"><i class="fab fa-linkedin-in"></i></a>
              <a href="{{ site.twitter_url }}"><i class="fab fa-twitter"></i></a>
              <a href="{{ site.github_url }}"><i class="fab fa-github"></i></a>
              <a href="{{ site.twitch_url }}"><i class="fab fa-twitch"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Useful Links</h3>
            </div>
            <ul>
              <li><a href="{{ site.url }}">Home</a></li>
              <li><a href="{{ site.baseurl }}/pages/donate">Donate</a></li>
              <li><a href="{{ site.baseurl }}/pages/about-us">About</a></li>
              <li><a href="{{ site.baseurl }}/pages/our-work">Our Work</a></li>
              <li><a href="{{ site.baseurl }}/pages/join-us">Join Us</a></li>
              <li><a href="{{ site.baseurl }}/pages/events">Events</a></li>
              <li><a href="{{ site.baseurl }}/pages/about-us/contact-us">Contact us</a></li>
              <li><a href="{{ site.baseurl }}/pages/about-us/our-blog">Our Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Subscribe</h3>
            </div>
            <div class="footer-text mb-25">
              <p>Get the latest updates, early notice for event registrations, and other Ruby for Good news!</p>
            </div>
            {% include theme_includes/subscribe.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include mixins/copyright_bar.html %}
</footer>