<div class="footer-line pt-80 pb-20">
  <div class="row">
    <div class="col-4 mb-30">
      <div class="single-cta">
        <i class="fas fa-map-marker-alt"></i>
        <div class="cta-text">
          <h4>Find us</h4>
          <span>Washington, D.C., USA</span>
        </div>
      </div>
    </div>
    <!-- /col-4 -->

    <div class="col-4 mb-30">
      <div class="single-cta">
        <i class="fas fa-phone"></i>
        <div class="cta-text">
          <h4>Call us</h4>
          <span>123-456-7890</span>
        </div>
      </div>
    </div>
    <!-- /col-4 -->

    <div class="col-4 mb-30">
      <div class="single-cta">
        <i class="far fa-envelope-open"></i>
        <div class="cta-text">
          <h4>Mail us</h4>
          <span>info@rubyforgood.org</span>
        </div>
      </div>
    </div>
    <!-- /col-4 -->
  </div>
  <!-- /row -->
</div>
