<section class="{% if page.bg %}{{ page.bg }}{% endif %} pt-100 pb-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center{% unless page.description %} pb-30{% endunless %}">
        <div class="title-header {% if title.style %}{{ title.style }}{% endif %}">
          <h2 class="mb-20">{{ page.title }}</h2>
        </div>
      </div><!-- /col-xl-10 col-12 -->
    </div><!-- /row -->
    {% if page.description %}
    <div class="row justify-content-center">
      <div class="col-xl-9 col-12 text-center pb-30">
        <div class="title-header {% if title.style %}{{ title.style }}{% endif %}">
          <p>{{ page.description }}</p>
        </div>
      </div><!-- /col-xl-9 col-12 -->
    </div><!-- /row -->
    {% endif %}
  </div><!-- /container -->
</section>