<section class="{% if page.bg %}{{ page.bg }}{% endif %} pt-100 pb-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-9 col-md-12 text-center pb-30">
        <div class="title-header {% if title.style %}{{ title.style }}{% endif %}">
          <h2 class="mb-20">{{ page.title }}</h2>
          {% if page.description %}
            <p>{{ page.description }}</p>
          {% endif %}
        </div>
      </div><!-- /col-xl-9 col-md-12 -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>