<section class="white-bg pb-70">
    <div class="container">
        <div>
            <div class="col-6 ml-90">
                <p class="text-left">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's
                    De Finibus Bonorum et Malorum for use in a type specimen book. Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the
                    15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
                </p>
                <button type="button" class="float-left btn-impact btn-primary btn-lg">More Information</button>
            </div>
        </div>
    </div>
</section>