<section class="d-flex flex-row">
  {% for data in site.data.our_work.landing_page %}
    {% if data.type == "impact" %}
      <div class="left w-50">
        <div class="block-header">
          <h2 class="mb-40">{{ data.title }}</h2>
        </div>
        {% for content in data.content %}
          <p>{{ content.paragraph }}</p>
        {% endfor %}
        <button type="button" class="btn-impact">Read More</button>
      </div>
    {% elsif data.type == "sbv" %}
      <div class="right w-50">
        <div class="block-header">
          <h2 class="mb-40">{{ data.title }}</h2>
        </div>
        {% for content in data.content %}
          <p>{{ content.paragraph }}</p>
        {% endfor %}
        <button type="button" class="btn-sbv">Read More</button>
      </div>
    {% endif %}
  {% endfor %}
</section>
