<section class="grey-bg pt-100 pb-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-10">Our Nonprofit Partners</h2>
        </div>
      </div><!-- /col-xl-10 col-12 -->
    </div><!-- /row -->

  </div><!-- /container -->
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>We have earned the trust of diverse nonprofits, located nationwide, by learning about their needs and collaborating with them to deliver high quality software and technical solutions to build business efficiencies and streamline their processes.</p>
        <p>We build meaningful, long-lasting relationships with our nonprofit partners, immerse ourselves in their business processes to gain an in-depth understanding of their challenges. This enables us to develop solutions that are customized to their needs to ensure that they have a solution that is designed for their specific industry and mission, which drives much more impact than out-of-the-box, generic solutions that are often on the market as the only viable option.</p>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-10">Events and Conferences</h2>
        </div>
      </div><!-- /col-12 col-xl-9 -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>Ruby for Good hosts a two events each year that brings together our incredible volunteer contributors to build technology solutions for our nonprofit partners, learn from one another, and most importantly – have fun! </p>
        <p>We also facilitate company off-sites where the Ruby for Good team works with teams from our corporate partner organizations to build technology solutions for our nonprofit partners. These events vary in size from large gatherings with a hundred or more attendees, to smaller, more focused events with around dozen attendees.</p>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-10">Corporate Volunteering</h2>
        </div>
      </div><!-- /col-12 col-xl-9 -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>We are delighted to work with organizations to provide their employees with meaningful <a href="/pages/our-work/skills-based-volunteering">volunteering opportunities </a>Here is more information on our volunteer packages:</p>
        <p><strong>Volunteer Package One</strong></p>
 <p>We facilitate all aspects of your skills-based volunteering event. From locating a stunning venue, to arranging for accommodations necessities, we will ensure that the event is memorable for team members with diverse interests. Creative team building exercises and games, innovative pair-programming, meetings with stakeholders, and curated issues for developers, project managers, product managers, UX/UI specialists, designers, and content writers will all be a part of this holistic package, and most importantly, along with an entertaining, morale-building event your team will be contributing to incredibly meaningful impact in vulnerable communities nationwide.
</p>
        <p><strong>Volunteer Package Two</strong></p>
        <p>Our Ruby for Good team will facilitate the event on site to provide a seamless volunteering event for all your team members. Our developers, product leads, and nonprofit stakeholders, will work on site, curate issues, manage project boards, and share the history and impact of projects while answering technical and nontechnical questions.</p>
        <p><strong>Volunteer Package Three</strong></p>
        <p>Ruby for Good will curate issues, facilitate meetings with nonprofit stakeholders, and ensure that your team has a memorable experience.</p>
        <p>Would you prefer some elements of each package to build a unique of your own? Contact us to start building a volunteer package that fit the needs of your company. </p>
    </div><!-- /row -->
  </div><!-- /container -->
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-10">Build Community</h2>
        </div>
      </div><!-- /col-12 col-xl-9 -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>We don't like to brag but our community is filled with the absolute best people you will ever get the opportunity to meet. Bar none. We love to chat in slack, have game nights together, virtual hangouts, and other fun stuff.</p>
        <p><a href="https://rubyforgood.herokuapp.com" target="_blank">Join us in our slack channel and say hello</a>.</p>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-10">Open Source</h2>
        </div>
      </div><!-- /col-12 col-xl-9 -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>Nearly everything that we build for the nonprofits we work with is open source software. As software needs to be maintained, updated, and improved that means we are always working on it. Jump over to our <a href="https://github.com/rubyforgood" target="_blank">GitHub account</a> and see if you would like to contribute.</p>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section>
