<section class="grey-bg pt-100 pb-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-10">Work With Nonprofits</h2>
        </div>
      </div><!-- /col-xl-10 col-12 -->
    </div><!-- /row -->

  </div><!-- /container -->
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>We have earned the trust of large and small nonprofits by understanding their needs and working with them to
          deliver high quality software and technical solutions to lighten their workloads and improve their
          processes.</p>
        <p>We build meaningful relationships with our nonprofit partners, meet with them to truly understand their
          problems, and develop solutions customized to their problem so they don't have to try and use something
          generic and try and make it work.</p>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-10">Hold Events</h2>
        </div>
      </div><!-- /col-12 col-xl-9 -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>The people who self-select into volunteering are a pretty amazing group and we love to meet them in person to get together, build software, learn from each other and most importantly have fun. We have large gatherings with a hundred or more attendees and small focused ones with a dozen or so people.</p>
        <p>We love facilitating company off-sites where RfG folks work together with members of their team building impactful software for our nonprofit partners.</p>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-10">Corporate Volunteering</h2>
        </div>
      </div><!-- /col-12 col-xl-9 -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>We love to <a href="/pages/our-work/skills-based-volunteering">work with companies to give their employees a meaningful way to volunteer</a>. We have three distinct volunteer packages as well as an a la carte option that we offer.</p>
        <p>1) We facilitate all aspects of your skills based volunteering event. We'll find an amazing venue for your folks to come to, we'll arrange the lodging, the food, fun team building exercises and games for when you're not write code, bring nonprofit stakeholders on site for your people to interact with and see who they are helping, have curated issues for your developers to work on, and everything else all thought out so your folks have a fun, impactful, and meaningful experience.</p>
        <p>2) We come to you and make your volunteering as easy as possible. We will bring Ruby for Good developers, product leads, and nonprofit stakeholders on site to work with your team to answer technical and nontechnical questions ensuring they have a great experience. We will also curate issues for developers to work on so they are able to have a productive event.</p>
        <p>3) We will curate issues, make nonprofit stakeholders available, and stand back and let your folks take the lead on all development.</p>
    </div><!-- /row -->
  </div><!-- /container -->
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-10">Build Community</h2>
        </div>
      </div><!-- /col-12 col-xl-9 -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>We don't like to brag but our community is filled with the absolute best people you will ever get the opportunity to meet. Bar none. We love to chat in slack, have game nights together, virtual hangouts, and other fun stuff.</p>
        <p><a href="https://rubyforgood.herokuapp.com" target="_blank">Join us in our slack channel and say hello</a>.</p>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-10">Open Source</h2>
        </div>
      </div><!-- /col-12 col-xl-9 -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>Nearly everything that we build for the nonprofits we work with is open source software. As software needs to be maintained, updated, and improved that means we are always working on it. Jump over to our <a href="https://github.com/rubyforgood" target="_blank">GitHub account</a> and see if you would like to contribute.</p>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section>