<section class="pb-70">
  <div class="projects-grid container">
    {% assign projects = site.our-projects | sort: "title" | reverse %}
    <!-- prettier-ignore -->
    {% for project in projects %}
    <a href="{{ project.website }}" class="single-project" target="_blank">
      <div class="project-img">
        <img
          src="{{site.baseurl}}{{ project.image }}"
          alt="{{ project.title }}"
          class="img-fluid mx-auto d-block"
        />
      </div>
      <div class="project-info text-center">
        <h3>{{ project.title }}</h3>
      </div>
    </a>
    {% endfor %}
  </div>
</section>
