<section class="project-filter mb-40">
  <div class="container-fluid">
    <nav class="navbar navbar-light bg-dark">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownSort">
          <a class="dropdown-item" href="#">A to Z</a>
          <a class="dropdown-item" href="#">Z to A</a>
          <a class="dropdown-item" href="#">Most recent commit</a>
          <a class="dropdown-item" href="#">Creation date (old to new)</a>
          <a class="dropdown-item" href="#">Creation date (new to old)</a>
        </div>
      </div>
    </nav>
  </div>
</section>