<section class=" pb-70" style="background-image:url({{site.baseurl}}/assets/img/our-work/skills-based-volunteering-bg.jpg)">
    <div class="container">
        <div>
            <div class="col-6 mr-90">
                <p class="text-right">Skills-based volunteering is using a specialized set of skills to contribute to the greater good. We’ll charge a fee to facilitate corporate retreats for this. It’s unique because we connect the corporations with the stakeholders and their
                    backstories.
                </p>
                <button type="button" class="float-right btn-sbv btn-lg">More Information+++++++=</button>
            </div>
        </div>
    </div>
</section>