<section class="breadcrumb-area grey-bg" style="background-image:url({{site.cover_image}})">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-xl-8 col-md-6">
        <div class="breadcrumb-title sm-size">
          <h2>{{page.title}}</h2>
        </div>
      </div><!-- /col-xl-8 col-md-6 -->

      <div class="col-xl-4 col-md-6 text-left text-md-right">
        <div class="breadcrumb">
          <ul>
            <li><a href="{{site.baseurl}}">Home</a></li>
            <li class="text-white pl-1">{{page.title}}</li>
          </ul>
        </div>
      </div><!-- /col-xl-4 col-md-6 -->

    </div><!-- /row -->
  </div><!-- /container -->
</section>