<section class="grey-bg pt-100 pb-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-10">Get Involved</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>
          Are you looking to build community and relationships, innovate, lead technology culture conversations, and most importantly, make an impact by supporting our non-profit organizations who serve the most marginalized communities, in the most adverse circumstances?
        </p>
        <p>
          We are looking for support in several arenas. Join us and get involved!
        </p>
        <p>
          <strong>TECHNICAL</strong>
          : Software Programming, Engineering, Product, Product Design, and UX/UI.
        </p>
        <p>
          <strong>NON-TECHNICAL</strong>
          : Project, Marketing and Communications, External Affairs and Development, and anyone interested in doing good and making the world better!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">How you can help</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <h3>TECHNICAL</h3>
        <br />
        <h4>Developers</h4>
        <p>
          As a volunteer developer, you would have the opportunity to hone your skills by serving as a technical lead, architect, or an individual contributor.
        </p>
        <h4>Product Managers</h4>
        <p>
          We work with individuals and organizations on the front-lines to make the world better, at food banks, animal shelters, diaper banks, foster children advocacy groups, environmental conservation groups, and more. We need product leads who have an interest in building relationships with stakeholders, understanding their needs, and translating those need back to our teams of developers and designers.
        </p>
        <h4>User Experience and Design</h4>
        <p>
          Creating unique and functional experiences for our non-profit organizations, who range from technology novices to advanced users, is truly vital to the success of the technology solutions we build. Opportunities to center solutions around usability abound, and these are greatly valued by our partners.
        </p>
        <hr />
        <h3>NON-TECHNICAL</h3>
        <br />
        <h4>Project Managers</h4>
        <p>
          We need individuals who enjoy both strategic planning and visioning, alongside detailed execution. If you enjoy all of those things, but don’t have specific experience in project management, here is an opportunity for you to lead a project! Lead projects from the strategic planning stage to execution and delivery.
        </p>
        <h4>MARKETING AND COMMUNICATIONS</h4>
        <p>
          We need individuals who enjoy both strategic planning and visioning, alongside detailed execution. If you enjoy all of those things, but don’t have specific experience in project management, join us for an opportunity to lead a project and lead projects from the strategic planning stage to execution and delivery.
        </p>
        <h4>EXTERNAL AFFAIRS AND DEVELOPMENT</h4>
        <p>
          Sustainability is essential to enable us to both continue and grow the work we are doing, and widen and deepen impact. Our external affairs team would appreciate support on prospect research, grant writing, and relationship management.
        </p>
        <h4>Everyone Else</h4>
        <p>
          Do you have other skills you’d like to share? Get in touch, we'd love to help you find a place to contribute with us!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">Larger Impact</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>
          There are innumerable nonprofits both nationally and internationally that need our support that we are unable to work with, given our limited capacity. We are looking individuals to take leadership roles and both drive existing projects and start new ones, so we are able to serve more non-profit organizations in more communities, which is more critical now than ever before.
        </p>
        <p>
          This is an incredible opportunity to forge remarkable relationships, have ownership over a project making a difference in the world, and gain the experience of driving a project from inception to delivery, and beyond.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">Get In Touch</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p class="text-center">
          <a
            class="btn btn-primary mx-4 mt-5"
            href="https://join.slack.com/t/rubyforgood/shared_invite/zt-1kfeimohe-KL~~~6Lkof7G94_7Ojd_Hw"
            type="button"
            target="_blank"
          >
            Join Us In Slack
          </a>
          <a
            class="btn btn-secondary mx-4 mt-5"
            href="mailto:info@rubyforgood.org"
            type="button"
            target="_blank"
          >
            Send Us An Email
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
