<section class="grey-bg pt-100 pb-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-10">Get Involved</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>Join us to do important, and impactful work. We work directly with the people who are on the front-lines making a positive difference in the world. You'll work directly with these people doing everything from improving the lives of some of the most vulnerable people in the country, to aiding researchers preventing species from going extinct, and everything <a href="/pages/our-work/impact">else in-between</a>.</p>

        <p>We need people with the following skills: UX, Product, Project, Developers, and anyone else interested in doing good and making the world better!</p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">How you can help</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <h3>Project Managers</h3>
        <p>We have an amazing group of folks who want to contribute but we need people leading our projects! We need you there at the beginning planning, executing and devising a plan for us to solve problems for our stakeholders in efficient ways and then see it through to the completion and delivery.</p>
        <h3>Product Managers</h3>
        <p>We work with people on the front-lines making the world better at food banks, animal shelters, diaper banks, foster children advocacy groups, and more. We need folks interacting with them, understanding their needs and translating those need back to our teams of developers and designers.</p>
        <h3>User Experience and Design</h3>
        <p>We need people that understand our nonprofit stakeholders and are able to design solutions that work for them. We have a range of users who range from non technically savvy to complete techies and need to ensure what we build is usable by all of them. This is where you come in.</p>
        <h3>Developers</h3>
        <p>We need developers to serve as technical leads, individual contributors, architects, and everything else.</p>
        <h3>Everyone Else</h3>
        <p>Do you have other skills you want to put to good use helping out? Get in touch, we'd love to help you find your place to contribute with us!</p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">Larger Impact</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>There are more nonprofits out there that need our help than we are a currently able to help. So we're always looking for folks looking to take on leadership roles leading existing and starting new projects. This is a great opportunity to forge some amazing relationships, have ownership over a project making a difference in the world and be able to see something through from inception to delivery and beyond.</p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">Get In Touch</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p class="text-center"><a class="btn btn-primary mx-4 mt-5" href="https://rubyforgood.herokuapp.com" type="button" target="_blank">Join Us In Slack</a>
          <a class="btn btn-secondary mx-4 mt-5" href="mailto:info@rubyforgood.org" type="button" target="_blank">Send Us An Email</a></p>
      </div>
    </div>
  </div>
</section>