<section class=" pt-100 pb-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header ">
          <h2 class="mb-20">Non-Profit Partners</h2>
        </div>
      </div><!-- /col-xl-10 col-12 -->
    </div><!-- /row -->

  </div><!-- /container -->
</section>


<section class="pb-70 grey-bg">
  <div class="container">
    <section class="pt-70 grey-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-xl-9 text-center pb-30">
            <div class="block-header">
              <h2 class="mb-10">Testimonials</h2>

              <p>Listen to what one of our nonprofit partners has to say about working with us.</p>

            </div>
          </div><!-- /col-12 col-xl-9 -->
        </div><!-- /row -->
      </div><!-- /container -->
    </section>
    <div class="row text-center">
      <div class="col mb-20">
        <iframe  height="400px" width="600px"  src="https://www.youtube.com/embed/kON0NSr6qk8" frameborder="0" allowfullscreen></iframe>
      </div><!-- /col -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">Partner with Us</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col mb-20">

        <p>We build software solutions to help your organization achieve its mission! We bring technologists together to build projects toward effecting large-scale social impact. Inefficient and expensive software solutions are an impediment to efficiency. We want to help develop software solutions, so you can focus on your mission.</p>
      </div><!-- /col -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
        <h2 class="mb-20 unbold text-center">How It Works</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <h3 class="unbold">1. Submit Your Project Idea</h3>

        <p>After you submit your project, we’ll follow up with a conversation. We’ll get in touch and determine how we can best help you. It may turn out that your best solution is to use something already out there and we’ll help you with that.</p>

        <p>Use the button below or email us with questions or submit your project directly.</p>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <h3 class="unbold">2. Schedule A Meeting With Us</h3>

        <p>About 5–6 weeks before the event we’ll find someone suitable to lead a team to build your software and put them in touch with you.</p>

        <p>They will meet and drill down with you and what you really need. They will confirm requirements with you and then present them to the team that will be working on your software at our event.</p>

        <p>They will meet virtually (Skype, Google Hangouts, etc.) with you during the event to introduce the team and to clarify any questions. Within one month of the event’s completion we will deliver the software to you.</p>

        <p>After our event, we'll work with you to put together a core team of people to work with you to continually improve and develop on the software we have built.</p>
      </div>
    </div>
  </div>
</section>


<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Projects We Build</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>We excel at figuring out what your biggest pain points are and what kind of tedious repetitive tasks you do. Then we set about automating those tasks so your time can better be spent elsewhere. Our expertise is primarily with building web applications. This means that the kind of projects that we excel at are those that require the recording and sharing of information, collaboration, web-based databases and coordination tools.</p>

        <p>These can seem a little vague, especially to non-technically oriented people, but if you are having difficulty sharing, storing or accessing data for your organization, we might be able to help. We can and have built other kinds of software and this is only to give you an idea. We’ll definitely find a way to help!</p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Problems We Solve</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">

        <ol class="npp-content">

          <li class="npp-content">Are you recording data with pen/paper and later transferring that data to a computer?</li>

          <li class="npp-content">Do you pass word/excel/text files around with collaborators to share information?</li>

          <li class="npp-content">Are you using software for a project now that wasn’t built for the kind of work you are doing (“making it work” even though it’s super painful)?</li>

          <li class="npp-content">Do you take data entered somewhere, manually manipulate it and send it on elsewhere?</li>

          <li class="npp-content">Do you have databases that require different access levels? For example, a volunteer can record and enter data, a principal researcher can then lock it and prevent further volunteer edits and only allow researchers to edit to protect data integrity, reviewers can see but not edit data, and so on.</li>

          <li class="npp-content">Do you use desktop programs to record information so you are locked into doing it from a certain location but it would be more convenient to have it web based so you can see/edit from anywhere?</li>
        </ol>
      </div><!-- /col -->
    </div><!-- /row -->

  </div><!-- /container -->
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Cost</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">

        <p>The project development is free! We do this to help the people who are making the world a better place. For the past three years we have also been very fortunate to have received sponsorships from hosting companies to host the projects.</p>

        <p>However, there is no guarantee these sponsorships will continue. You may need to find hosting for the project once it is built. We will work with you to find the most affordable solution for your project or to integrate it with your current hosting.</p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">Your Involvement</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>In order to build you the best software possible we need your participation so we can understand your needs. We require you to commit to at least two meetings with the person leading your team in the lead up to the event.</p>

        <p>You will also need to be available at least once during the event, ideally each day. Your team will coordinate the times. This is necessary because the team building your software will inevitably run into design decisions that will require your input in order to resolve and keep the project moving forward.</p>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20 text-center">
<a class="btn btn-primary mx-4 mt-5" href="https://airtable.com/shrC6VjWgka26a6eh" type="button" target="_blank">Submit Your Project</a>
<a class="btn btn-secondary mx-4 mt-5" href="mailto:info@rubyforgood.org" type="button" target="_blank">Email Us</a>
      </div>
    </div>
  </div>
</section>