<section class=" pt-100 pb-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header ">
          <h2 class="mb-20">Non-Profit Partners</h2>
        </div>
      </div><!-- /col-xl-10 col-12 -->
    </div><!-- /row -->

  </div><!-- /container -->
</section>


<section class="pb-70 grey-bg">
  <div class="container">
    <section class="pt-70 grey-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-xl-9 text-center pb-30">
            <div class="block-header">
              <h2 class="mb-10">Hear From Our Partner: PDX Diaper Bank</h2>

              <p>We are so proud to share these kind words from one of our longest standing partners, since 2015, the PDX Diaper Bank in Portland.</p>

            </div>
          </div><!-- /col-12 col-xl-9 -->
        </div><!-- /row -->
      </div><!-- /container -->
    </section>
    <div class="row text-center">
      <div class="col mb-20">
        <iframe  height="400px" width="600px"  src="https://www.youtube.com/embed/kON0NSr6qk8" frameborder="0" allowfullscreen></iframe>
      </div><!-- /col -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">Partner with Us</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col mb-20">

        <p>We build technology solutions to help your organization achieve its mission! We bring technologists together to build projects toward effecting large-scale social impact. Inefficient and expensive software solutions are an impediment to efficiency. We want to help develop software solutions to streamline your business processes, so you can focus on what is most important – your mission.</p>

      </div><!-- /col -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Projects We Build</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>We excel at learning about your biggest pain points and envisioning solutions that eliminate the tedious repetitive tasks that time away from actualizing your mission. We then design solutions that automate those tasks, so that your team can focus on other essential tasks. Our expertise is primarily with building web applications, that require the recording and sharing of information, collaboration, web-based databases, and coordination tools.</p>

        <p>If you are facing challenges with sharing, storing or accessing data for your organization, we would like to support you in developing a solution. Our expertise includes a vast variety of technology solutions and we would love to partner with and create one for you!</p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Problems We Solve</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">

        <ol class="npp-content">

          <li class="npp-content">Are you recording data with pen and paper and later transferring that data to a computer?</li>

          <li class="npp-content">Do you pass Word, Excel, or text files back and forth with collaborators to share information?</li>

          <li class="npp-content">Are you using software for a project now that wasn’t built for the kind of work you are doing?</li>

          <li class="npp-content">Do you take data entered in a document, manually edit it, and then send it on elsewhere?</li>

          <li class="npp-content">Do you have databases that require different access levels? For example, a volunteer can record and enter data, a principal researcher can then lock it and prevent further volunteer edits and only allow researchers to edit to protect data integrity, reviewers can see but not edit data, and so on.</li>

          <li class="npp-content">6.	Do you use desktop programs to record information so you are locked into doing it from a certain location but it would be more convenient to have a web based solution so you can review and edit from anywhere?</li>
        </ol>
      </div><!-- /col -->
    </div><!-- /row -->

  </div><!-- /container -->
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">Cost</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">

        <p><strong>Ruby for Good projects are built at no cost to our nonprofit partners and are completely FREE!</strong> We do this to support organizations that are dedicated to serving marginalized communities and making the world a better place. </p>

        <p>For the past three years we have been very fortunate to have received sponsorships from hosting companies to host projects that we have built for our nonprofit partners. However, continued sponsorship is not guaranteed and your organization may need to find either sponsored hosting or fund the hosting for the project once it is built. We will work with you to find the most affordable solution for your project or to integrate it with your current hosting.</p>
      </div>
    </div>
  </div>
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-10">Your Involvement</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <p>In order to build you the best software possible we need your participation so we can understand your needs. We require you to commit to at least two meetings with the person leading your team in the lead up to the event.</p>

        <p>You will also need to be available at least once during the event, ideally each day. Your team will coordinate the times. This is necessary because the team building your software will inevitably run into design decisions that will require your input in order to resolve and keep the project moving forward.</p>
      </div>
    </div>
  </div>
</section>


<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="block-header">
          <h2 class="mb-20 unbold text-center">How It Works</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <h3 class="unbold">1. Submit Your Project Idea</h3>

        <p>After you submit your project, we’ll follow up with a conversation. We’ll get in touch and determine how we can best help you. It may turn out that your best solution is to use something already out there and we’ll help you with that.</p>

        <p>Use the button below or email us with questions or submit your project directly.</p>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20">
        <h3 class="unbold">2. Schedule A Meeting With Us</h3>

        <p>About 5–6 weeks before the event we’ll find someone suitable to lead a team to build your software and put them in touch with you.</p>

        <p>They will meet and drill down with you and what you really need. They will confirm requirements with you and then present them to the team that will be working on your software at our event.</p>

        <p>They will meet virtually (Skype, Google Hangouts, etc.) with you during the event to introduce the team and to clarify any questions. Within one month of the event’s completion we will deliver the software to you.</p>

        <p>After our event, we'll work with you to put together a core team of people to work with you to continually improve and develop on the software we have built.</p>
      </div>
    </div>
  </div>
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-20 text-center">
<a class="btn btn-primary mx-4 mt-5" href="https://airtable.com/shrC6VjWgka26a6eh" type="button" target="_blank">Submit Your Project</a>
<a class="btn btn-secondary mx-4 mt-5" href="mailto:info@rubyforgood.org" type="button" target="_blank">Email Us</a>
      </div>
    </div>
  </div>
</section>
