<section class="pb-70{% if block.bg %} {{ block.bg }}{% endif %}">
  <div class="container">
    {% assign partner_info = site.data.join_us.npp | where: "type", "partner" %}
    <!-- prettier-ignore -->
    {% for info in partner_info %}
    <div class="row">
      <div class="col">
        <h2 class="mb-20 unbold">{{ info.title }}</h2>
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
    <div class="row">
      <div class="col mb-20">
        {% for content in info.content %}
        <p>{{ content.paragraph }}</p>
        {% endfor %}
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
    {% endfor %}
  </div>
  <!-- /container -->
</section>
