---
layout: default
---
<!-- header-area -->
{% include theme_includes/header_3.html %}
<!-- main-start -->
<main>
    {% include home/slider.html %}
    {% include theme_includes/services.html %}
    {% include theme_includes/call_to_action.html %}
    {% include theme_includes/features.html %}
    {% include theme_includes/countdown.html %}
    {% include theme_includes/portfolios_2.html %}
    {% include about_us/team_members.html %}
    {% include home/blog_area.html %}
    {% include theme_includes/clients.html %}
</main>
