---
layout: default
---

{% include theme_includes/header_2.html %}
<main>
    {% include home/slider.html %}
    {% include theme_includes/services.html %}
    {% include theme_includes/call_to_action.html %}
    {% include theme_includes/features.html %}
    {% include theme_includes/countdown.html %}
    {% include theme_includes/portfolios_2.html %}
    {% include theme_includes/testimonials.html %}
    {% include home/blog_area.html %}
    {% include theme_includes/clients.html %}
</main>
