---
layout: default
---
{% include mixins/header_custom.html %}
<main>
  {% include mixins/breadcrumb_custom.html %}

<!-- blog-details-area -->
<div class="basic-blog-area gray-bg pt-100 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 blog-post-items">
                <div class="blog-wrapper mb-60">
                    <div class="blog-thumb">
                        <img src="{{page.post_image}}" alt="{{page.title}}"/>
                    </div>
                    <div class="blog-content">
                       {{content}}
                        <div class="row mt-30">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="blog-post-tag">
                                 {{page | tags | capitalize}}
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                               {% include theme_includes/social_share.html %}
                            </div>
                        </div>
                    </div>
                    <div class="post-comments mt-50">
                        <div class="latest-comments">
                           {% include disqus_comments.html %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sidebar-blog right-side">
              {% include theme_includes/sidebar.html %}
            </div>
        </div>
    </div>
</div>
</main>