<section>
  <div class="counter-area pb-100 pt-100" data-overlay="5" style="background-image:url({{site.baseurl}}/assets/img/stock/milky-way.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-md-3 col-sm-6 z-index">
          <div class="single-counter text-center mb-30">
            <span class="lnr lnr-users"></span>
            <div class="counter">269</div>
            <p>Nonprofits Served</p>
          </div>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 z-index">
          <div class="single-counter text-center mb-30">
            <span class="lnr lnr-thumbs-up"></span>
            <div class="counter">121</div>
            <p>Diversity Scholarships Awarded</p>
          </div>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 z-index">
          <div class="single-counter text-center mb-30">
            <span class="lnr lnr-apartment"></span>
            <div class="counter">1760</div>
            <p>Project Contributors</p>
          </div>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 z-index">
          <div class="single-counter text-center mb-30">
            <span class="lnr lnr-printer"></span>
            <div class="counter">2738</div>
            <p>GitHub Pull Requests</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>