<section class="counter-area pb-100 pt-100" data-overlay="5" style="background-image:url({{site.baseurl}}/assets/img/stock/milky-way.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-6 z-index">
        <div class="single-counter text-center">
          <span class="lnr lnr-users"></span>
          <div class="counter">60</div>
          <p>Projects Undertaken To Help Nonprofits</p>
        </div>
      </div>
      <div class="col-lg-3 col-6 z-index">
        <div class="single-counter text-center">
          <span class="lnr lnr-thumbs-up"></span>
          <div class="counter">150</div>
          <p>Diversity Scholarships Awarded</p>
        </div>
      </div>
      <div class="col-lg-3 col-6 z-index">
        <div class="single-counter text-center">
          <span class="lnr lnr-apartment"></span>
          <div class="counter">500</div>
          <p>Worldwide Project Contributors</p>
        </div>
      </div>
      <div class="col-lg-3 col-6 z-index">
        <div class="single-counter text-center">
          <span class="lnr lnr-printer"></span>
          <div class="counter">5,000</div>
          <p>GitHub Pull Requests</p>
        </div>
      </div>
    </div>
  </div>
</section>