<section class="slider-area">
  <div class="slider-active">
    <div
        class="single-slider slider-bg d-flex align-items-center"
        style="background-image:url({{site.baseurl}}/assets/img/stock/hero44.jpg)"
        slide-index="0"
    >
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="slider-content align-middle">
              <div class="slider-padding">
                <h1 data-animation="fadeInDown" data-delay=".2s">
                  Join us at our upcoming
                  <br/>
                  <span>in-person event</span>
                  !
                </h1>
                <p data-animation="fadeInLeft" data-delay=".4s">
                  Use your skills to make a meaningful difference in the world.
                </p>
              </div>
              <a
                  href="{{site.baseurl}}/events"
                  class="btn btn-slider"
                  data-animation="fadeInUp"
                  data-delay=".6s"
              >
                DC EVENT INFO
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
        class="single-slider slider-bg d-flex align-items-center"
        style="background-image:url(assets/img/stock/hero11.jpg)"
        slide-index="1"
    >
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="slider-content align-middle">
              <div class="slider-padding">
                <h1 data-animation="fadeInDown" data-delay=".2s">
                  Are you ready to
                  <br/>
                  make an
                  <span>impact</span>
                  ?
                </h1>
                <p data-animation="fadeInLeft" data-delay=".4s">
                  Use your unique skills to help make the world gooder!
                </p>
              </div>
              <a
                  href="join-us"
                  class="btn btn-slider"
                  data-animation="fadeInUp"
                  data-delay=".6s"
              >
                Join Us
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
        class="single-slider slider-bg d-flex align-items-center"
        style="background-image:url(assets/img/stock/hero22.jpg)"
        slide-index="2"
    >
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="slider-content align-middle">
              <div class="slider-padding">
                <h1 data-animation="fadeInUp" data-delay=".2s">
                  Skills-based volunteering
                  <br/>
                  is
                  <span>important</span>.
                </h1>
                <p data-animation="fadeInLeft" data-delay=".4s">
                  We offer an innovative and customizable volunteering experience.
                </p>
              </div>
              <a
                  href="our-work/skills-based-volunteering"
                  class="btn btn-slider"
                  data-animation="fadeInUp"
                  data-delay=".6s"
              >
                Learn More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
        class="single-slider slider-bg d-flex align-items-center"
        style="background-image:url(assets/img/stock/hero33.jpg)"
        slide-index="3"
    >
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="slider-content align-middle">
              <div class="slider-padding">
                <h1 data-animation="fadeInUp" data-delay=".2s">
                  What is
                  <span>Ruby for Good</span>
                  ?
                </h1>
                <p data-animation="fadeInLeft" data-delay=".4s">
                  Ruby for Good is a volunteer-driven nonprofit that develops specialized technology and software
                  solutions for non-profit organizations to bolster their critical missions.
                </p>
              </div>
              <a
                  href="about-us"
                  class="btn btn-slider"
                  data-animation="fadeInUp"
                  data-delay=".6s"
              >
                Our Story
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
