<section class="slider-area">
  <div class="slider-active">
    <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/stock/railroad-sun-and-clouds.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="slider-content align-middle">
              <div class="slider-padding">
                <h1 data-animation="fadeInDown" data-delay=".2s">Are you ready to <br>make an <span>impact</span>?</h1>
                <p data-animation="fadeInLeft" data-delay=".4s">Use your technology skills for good to help make the world better.</p>
              </div>
              <a href="{{site.baseurl}}/pages/join-us" class="btn btn-slider" data-animation="fadeInUp" data-delay=".6s">Join Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/stock/railroad-forest.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="slider-content align-middle">
              <div class="slider-padding">
                <h1 data-animation="fadeInUp" data-delay=".2s">Skills-based volunteering <br>is <span>important</span>.</h1>
                <p data-animation="fadeInLeft" data-delay=".4s">Other companies aggregate volunteer projects, but we do things a little differently <br>to make sure our experience is more personal and memorable.</p>
              </div>
              <a href="{{site.baseurl}}/pages/our-work/skills-based-volunteering" class="btn btn-slider" data-animation="fadeInUp" data-delay=".6s">Find Out How</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/stock/railroad-green.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="slider-content align-middle">
              <div class="slider-padding">
                <p data-animation="fadeInLeft" data-delay=".4s">Ruby for Good is sometimes seen as a small team that holds bi-annual coding events, however, that's only <br>the beginning of our story. We've amassed a brigade of volunteer programmers who are itching to get started on their next project.</p>
                <h1 data-animation="fadeInUp" data-delay=".2s">We're a <span>non-profit organization</span> that operates year round.</h1>
              </div>
              <a href="{{site.baseurl}}/pages/about-us" class="btn btn-slider" data-animation="fadeInUp" data-delay=".6s">Our Story</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
