{% assign gooders = site.data.about_us.about_gooders %}

<section class="{% if block.bg %}{{ block.bg }}{% endif %} pb-70 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
      <div class="col-4 text-center">
        <img src="{{ site.baseurl }}{{ gooder.gooder_img }}" class="img-fluid">
                    <img src="{{site.baseurl}}/assets/img/theme-stock/about/5.jpg" class="col-md-4 pb-70 img-fluid img-about">
                    <p class="col-md-8 about-text-right" id="about_gooders">Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor
                        lectus quis orci. Phasellus consectetuer vestibulum elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
        {% endfor %}
            </div>
        </div>
    </div>
</section>