<section class="basic-blog-area gray-bg pt-100 pb-100">
  <div class="container">

    <div class="row">
      <div class="col-8 blog-post-items">
        {% for post in paginator.posts %}
          <div class="blog-wrapper mb-40">
            <div class="blog-thumb">
              <a href="{{post.url}}">
                <img class="img-fluid" src="{{post.post_image}}" alt="{{post.title}}"/>
              </a>
            </div>
            <div class="meta-info">
              <ul>
                <li class="posts-time">{{post.date | date_to_long_string}}</li>
              </ul>
            </div>
            <div class="blog-content">
              <h2 class="blog-title">
                <a href="{{post.url}}">{{post.title}}</a>
              </h2>
              <p>{{post.excerpt | strip_html | truncatewords:"30"}}</p>
            </div>
            <div class="link-box">
              <a href="{{post.url}}">Read More</a>
            </div>
          </div>
        {% endfor %}
        {% include theme_includes/pagination.html %}
      </div><!-- /col-8 -->

      <div class="col-4 sm-mt sidebar-blog right-side">
        {% include theme_includes/sidebar.html %}
      </div><!-- /col-4 -->
    </div><!-- /row -->

  </div><!-- /container -->
</section>