<section class="contact-area pb-70 pt-100">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-md-4 text-center text-md-left mb-30">
        <div class="contact-person">
          <h4>On a global schedule.</h4>
          <p>Ruby for Good is a member of the global community so we make ourselves available as much as possible. If you can't get in touch with us right away. Leave a message or send an email and we'll get back to you shortly!</p>
          <a href="#" class=""><i class="far fa-calendar-alt"></i>Talk any time</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 text-center text-md-left mb-30">
        <div class="contact-person">
          <h4>Enquiry by phone.</h4>
          <p>You can reach us at the number shown below. If we're unable to answer your call, please leave a message with your name, organization, contact information, and reason for getting in touch with us and we'll return it as soon as we can!</p>
          <a href="#" class=""><i class="fas fa-phone"></i>123 456 7890</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 text-center text-md-left mb-30">
        <div class="contact-person">
          <h4>Write to us.</h4>
          <p>Our email is generally the best way to get in touch with us. Make sure to include your name, organization, contact information, and reason for getting in touch with us when sending an email.</p>
          <a href="mailto:info@rubyforgood.org" class=""><i class="far fa-envelope"></i>info@rubyforgood.org</a>
        </div>
      </div>
    </div>
  </div>
</section>