<section class="grey-bg pt-100 pb-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-12 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-20">About Us</h2>
        </div>
      </div>
      <!-- /col-xl-10 col-12 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 text-center">
        <h2>Mission</h2>
      </div>
      <!-- /col-3 -->
      <div class="col-lg-9 mb-20">
        <p>
          Our mission at Ruby for Good is to deliver specialized software development solutions to non-profit organizations to bolster their critical missions, build an inclusive technology community, and provide technology-focused educational opportunities to underserved communities.
        </p>
      </div>
      <!-- /col-9 -->

      <div class="col-lg-3 text-center">
        <h2>Vision</h2>
      </div>
      <!-- /col-3 -->
      <div class="col-lg-9 mb-20">
        <p>
          Ruby for Good, with our partners, will make technology accessible to individuals and non-profit organizations, and build a more inclusive technology community.
        </p>
      </div>
      <!-- /col-9 -->

      <div class="col-lg-3 text-center">
        <h2>History</h2>
      </div>
      <!-- /col-3 -->
      <div class="col-lg-9 mb-20">
        <p>
          Ruby for Good was founded by <a href="/our-team/sean-marcia">Sean Marcia</a>, in 2013, to fill the gap created by expensive technology solutions that were not easily accessible by non-profit organizations serving marginalized communities. His vision was to create open source solutions that could be used by all, driven by an inclusive community of technologists, of all skill levels, while creating educational and career opportunities for contributors from vulnerable communities.
        </p>
        <p>
          Since 2013, we have harnessed the contributions of over 1,000 volunteer technologists to build efficient solutions for over 150 non-profit organizations that are serving over 2 million people both nationally and globally. We have also hosted 12 software development conferences, totaling over 1,200 attendees, including 150 scholarship fellows.
        </p>
      </div>
      <!-- /col-9 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>

<section class="pt-70 white-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-10">Core Values</h2>
        </div>
      </div>
      <!-- /col-12 col-xl-9 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>

<section class="pb-70 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-30 icon-text">
        <div class="icon-text-circle">
          <i class="fas fa-heartbeat"></i>
          <h3>Inclusivity and Equity</h3>
          <p>
            Ruby for Good values inclusivity and equity for all, and strives above all else to ensure that our contributors, partners, stakeholders, and sponsors—who we lovingly refer to as gooders—are treated with respect and dignity. We seek out the inclusion of differences as learning opportunities and ensure that words and actions matter.
          </p>
        </div>
      </div>
      <!-- /col-4 -->

      <div class="col-md-4 mb-30 icon-text">
        <div class="icon-text-circle">
          <i class="far fa-handshake"></i>
          <h3>Commitment to Our Contributors</h3>
          <p>
            We truly value the generosity of our contributors that make the work of Ruby for Good possible. We believe in supporting them with meaningful and ongoing opportunities for impact, growth, and leadership, and enable them to reach their full potential, uplifting them in their careers and academic pursuits, and engaging them through their contributions.
          </p>
        </div>
      </div>
      <!-- /col-4 -->

      <div class="col-md-4 mb-30 icon-text">
        <div class="icon-text-circle">
          <i class="fas fa-gift"></i>
          <h3>Commitment to Our Non-Profit Partners</h3>
          <p>
            Our non-profit partner organizations serve critical missions in the most vulnerable communities nationwide. We believe in the vitality of their work and bolster their efforts and effectiveness by providing open source solutions that increase efficiency and drive impact.
          </p>
        </div>
      </div>
      <!-- /col-4 -->

      <div class="col-md-4 mb-30 icon-text">
        <div class="icon-text-circle">
          <i class="fas fa-laptop"></i>
          <h3>Communication</h3>
          <p>
            We value honest and direct communication as essential to articulating our vision and goals, fostering strong relationships, overcoming challenges, and collaborating with our contributors, non-profit organizations, and companies and foundations that believe in our mission.
          </p>
        </div>
      </div>
      <!-- /col-4 -->

      <div class="col-md-4 mb-30 icon-text">
        <div class="icon-text-circle">
          <i class="fas fa-users"></i>
          <h3>Agency</h3>
          <p>
            We believe in the potential of all technologists, of all skill levels, from all walks of life, that enrich our collaborative work environment. We commit to making full use of our own agency as individuals and as an organization in service of our goals and making the world gooder.
          </p>
        </div>
      </div>
      <!-- /col-4 -->

      <div class="col-md-4 mb-30 icon-text">
        <div class="icon-text-circle">
          <i class="fas fa-globe"></i>
          <h3>Impact</h3>
          <p>
            Affecting large-scale, long term change requires ongoing innovation, learning, and sustained effort. We hold ourselves to meaningful and measurable outcomes, evaluate our successes and challenges openly, and act on what we learn, to drive intrinsic change.
          </p>
        </div>
      </div>
      <!-- /col-4 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>

<section class="pt-70 grey-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9 text-center pb-30">
        <div class="title-header">
          <h2 class="mb-10">Who Is a Gooder?</h2>
        </div>
      </div>
      <!-- /col-12 col-xl-9 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>

<section class="pb-70 grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-2">
        <img
          src="/assets/img/stock/gooder.png"
          class="img-fluid pb-30 mx-auto d-block"
          alt ="A pair of hands working on a laptop and using a cell phone"
        />
      </div>
      <!-- /col-4 -->
      <div class="col-12 col-lg-10">
        <p>
          Individuals and organizations that give their time, talent, and treasure in service of their communities and essential missions that make the world gooder! Gooders are all of our contributors, stakeholders, non-profit organizations, corporate and foundation partners, and supporters.
        </p>
        <p class="font-weight-bold">
          Are you a gooder? <a href="/join-us">Join us!</a>
        </p>
      </div>
      <!-- /col-8 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>
